/* Text styling start */

.headings {
    margin-bottom: 30px;
}

.heading-1 {
    font-size: 2rem;
}

.heading-2 {
    font-size: 1.5rem;
}

.heading-3 {
    font-size: 1.125rem;
}

.heading-4 {
    font-size: 1rem;
}

strong {
    font-weight: bold;
}

.headings i {
    color: #1a1a1a;
    font-size: 2rem;
    margin-bottom: 30px;
}

.reviews-headings {
    letter-spacing: 1px;
    min-height: 2.5rem;
}

a, a:hover {
    color: inherit;
}

.yellow-star {
    color: #ffc700;
}

.text-transform-none {
    text-transform: none;
    letter-spacing: 1px;
}

/* Text styling end */

/* Buttons start */

.btn-green {
    color: #fff;
    background-color: #64a19d;
    border: 2px solid #64a19d;
}

.btn-green:hover {
    color: #fff;
    background-color: #548b87;
    border: 2px solid #548b87;
}

.btn-outline {
    color: #64a19d;
    border: 2px solid #64a19d;
}

.btn-outline:hover {
    color: #fff;
    background-color: #64a19d;
    border: 2px solid #64a19d;
}

.btn-wide {
    min-width: 165px;
}

.btn-search i{
    color: #64a19d;
}

/* Buttons end */

/* Section styling start. Code for calculation is from https://developer.mozilla.org/en-US/docs/Web/CSS/calc() */

section {
    min-height: calc(100vh - 164px);
    padding-top: 80px;
}

/* Section styling end */

/* Content containers and wrappers start */

.content-container {
    padding: 30px;
}

.wrapper-grey {
    background-color: #f7fcfc;
}

/* Content containers and wrappers end */

/* Navbar start */

.navbar {
    padding: 1rem;
}

.navbar-dark .navbar-toggler {
    border: none;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #64a19d;
}

.navbar-brand img {
    height: 3rem;
}

.search .form-control {
    height: 2.5rem;
}

.no-box-shadow:focus, .no-box-shadow:active {
    box-shadow: none !important;
}

.navbar-nav .nav-link {
    outline: none;
}

.navbar .dropdown-menu {
    background-color: #1a1a1a;
    border: none;
    font-size: .785rem;
    text-transform: uppercase;
}

.navbar .dropdown-item, .navbar-dark .navbar-nav .nav-link.show {
    color: #64a19d;
}
 
.navbar .dropdown-item.active {
    color: #fff;
}

.navbar .dropdown-item:hover {
    color: #fff;
    background-color: inherit;
}

/* Navbar end */

/* Toast start */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999999;
}

/* Arrow up code is adapted from https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
    position: absolute;
    top: -18px;
    right: 10px;
}

.toast {
    width: 15rem;
}

.toast-header {
    color: #64a19d;
}

.toast-border {
    border-bottom: 2px solid #64a19d;
}

.toast-body {
    background-color: #fff;
}
/* Toast end */

/* Cards start */

.card-img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.card-title {
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1rem;
}

/* Cards end */

/* Forms start */

.form-group-ratings {
    height: 48px;
}

.form-group-button {
    margin: 30px 0 0;
}

/* Code for switch styling was obtained by viewing the bootstrap / bootswatch css properties for the switch and adapted them to have the desired effect */

.custom-switch:checked~.custom-control-label::before {
    border-color: #64a19d;
    background-color: #64a19d;
}

.custom-control-label::before{
    background-color: #c0c0c0;
}

/* Forms end */

/* Rating stars radio buttons start. Code if from https://codepen.io/hesguru/pen/BaybqXv */

.rating {
    position: absolute;
}

.rating input {
    display: none;
}

.rating:not(:checked) > label {
    float: right;
    overflow: hidden;
    cursor: pointer;
    color: #ccc;
    margin-right: 0.5rem;
    margin-bottom: 0;
}
.rating > input:checked ~ label {
    color: #ffc700;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffc700;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ffc700;
}

/* Rating stars radio buttons end */

/* Home page start. Image is from https://www.pexels.com/photo/people-sitting-on-grass-beside-green-tent-3776861/ */

.hero-image {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: 50% 40%;
}

.overlay {
    background-color: #000000;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.jumbotron {
    background-color: transparent;
    z-index: 1;
}

.jumbotron-heading {
    line-height: 1.5;
    color: #fff;
}

.slick-slide {
    height: 15rem;
}

.slick-prev:before,
.slick-next:before {
    color: #1a1a1a;
}

.featured-card {
    margin: 0 15px 30px;
}

.featured-card .card-body {
    padding: 0.75rem;
}

#newsletter-sign-up input,
#newsletter-sign-up input:focus {
    border: 2px solid #64a19d;
}

/* Home page end */

/* Sign up page start. Image is from https://www.pexels.com/photo/woman-in-yellow-sweater-holding-silver-ipad-3979198/ */

.sign-up-image {
    background-image: url("../images/sign-up.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
}

/* Sign up page end */

/* Reviews start */

.filter-headings {
    letter-spacing: 1px;
}

.filters i {
    font-size: 10px;
}

.pagination {
    justify-content: center;
    margin-bottom: 0;
}

.page-item a:focus {
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #64a19d;
    border-color: #64a19d;
}

/* Reviews end */

/* Review details start */

.back-link a:hover {
    color: #64a19d;
}

.back-link i {
    padding-right: 10px;
}

.product-img {
    height: 20rem;
}

.product-details {
    padding-top: 30px;
    padding-bottom: calc(30px - 1rem);
}

.progress-bars {
    margin-bottom: 30px;
}

.progress {
    margin-bottom: 0.5rem;
    height: 0.5em;
    background-color: #c0c0c0;
}

.progress-bar {
    background-color: #64a19d;
}

.ratings-divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-review {
    margin-bottom: 30px;
}

.review-card {
    background: #f7fcfc;
}

/* Review details end */

/* Contact form start. Code for the horizontal and vertical center alignment is from https://css-tricks.com/centering-css-complete-guide/ */

.contact-heading {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
}

/* Image is from https://www.pexels.com/photo/concentrated-businesswoman-talking-on-smartphone-on-street-5669626/*/

.contact-img {
    background-image: url("../images/contact.jpg");
    height: 60vh;
    max-height: 400px;
    background-size: cover;
    background-position: 50% 15%;
}

.info-paragraph {
    padding-left: 50px;
    margin-bottom: 0;
}

.info-icons {
    padding-right: 30px;
    min-width: 50px;
}

.info-item-container {
    padding: 1rem;
}

/* Contact form end */

/* Product management start */

.products-table thead {
    background-color: #64a19d;
    color: #ffffff;
}

.products-table th {
    min-width: 120px;
}

.products-table a {
    width: 47%;
}

/* Product management end */

/* Footer start */

.footer-wrapper {
    background-color: #1a1a1a;
}

.footer-headings, 
.footer-headings .btn {
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.footer-paragraphs {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0.75rem;
}

.footer-links li {
    color: #fff;
    list-style: none;
    margin-bottom: 0.2rem;
}

.footer-links li a {
    color: #fff;
}

.footer-links li a:hover {
    color: #64a19d;
    text-decoration: none;
}

.social-media-icons {
    padding: 0;
    font-size: 0;
    margin: 0.5rem 2rem; 
}

.social-media-icons li {
    width: 24.6%;
}

.social-media-icons li i {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

/* Code for .social-media-icons:hover:before and .social-media-icons:hover was obtained by viewing the hover.css css properties for the grow effect and adapted them to have the desired effect */

.hvr-grow:hover:before {
    color: #64a19d;
}

.hvr-grow:hover {
    transform: scale(1.5);
}

.accordion-card, .accordion-card .card-header  {
    background-color: #1a1a1a;
    border: none;
}

.accordion .card-header {
    padding: 0;
}

.accordion .btn:hover {
    text-decoration: none;
}

.accordion i {
    margin-right: 20px;
}

.accordion-links {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
}

/* Footer end */

/* Media queries start */

@media(min-width: 360px) {
    .products-table th {
        min-width: 150px;
    }
}

@media(min-width: 576px) {
    .slick-slide {
        height: 16.5rem;
    }
    .card-img {
        height: 12rem;
    }
}

@media(min-width: 768px) {

    .heading-1 {
    font-size: 2.5rem;
    }

    .heading-2 {
        font-size: 1.75rem;
    }

    .heading-3 {
        font-size: 1.25rem;
    }

    .card-img {
        height: 16rem;
    }

    .product-img {
        height: 20rem;
    }

    .slick-slide {
        height: 20rem;
    }

    .product-details table th {
        min-width: 200px;
    }

    .sign-in-col {
        max-width: 400px;
    }

    #sort-by {
        margin-bottom: 30px;
    }

    .form-group-filters-top {
        padding: 5.5rem 0 1rem;
    }

    .reviews-headings {
      min-height: 1.5rem;
    }

    .products-table a {
        width: 48%;
    }
}

@media(min-width: 992px) {
    /* Section Styling Start. Code for calculation is from https://developer.mozilla.org/en-US/docs/Web/CSS/calc() */

    section {
        min-height: calc(100vh - 196px);
    }

    .navbar .dropdown-menu {
        top: 58px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
    }

    .navbar .dropdown-item {
        font-size: .765625rem;
        text-transform: none;
        color: #1a1a1a;
    }

    .navbar .dropdown-item.active {
        color: #1a1a1a;
        background-color: #fff;
    }

    .navbar .dropdown-item:hover {
        color: #fff;
        background-color: #1a1a1a;
    }

    /* Arrow up code is adapted from https://css-tricks.com/snippets/css/css-triangle/ */

    .arrow-up {
        right: 15px;
    }

    .reviews-col-sidebar {
        max-width: 20%;
        flex: 0 0 20%;
    }

    .reviews-col-main {
        max-width: 80%;
        flex: 0 0 80%;
    }

    .progress-bars {
        margin-bottom: calc(30px - 0.5rem);
    }

    .progress {
        margin: 0.4375rem 0;
    }

    .product-details {
        padding-top: 0;
    }

    .info-item-container {
        padding: 1.25rem;
    }

    .footer-headings {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .footer-paragraphs {
        margin-top: 20px;
    }

    .social-media-icons {
        margin: 1rem 0;
    }
}

@media(max-height: 750px) {
    section {
        min-height: 100vh;
    }
}

/* Media queries end */
