<div class="col-6 col-lg-12">
  <div class="form-group mb-4">
    <h3 class="text-capitalize mb-3">Brand</h3>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_brands %}{% if "amazon" in selected_brands %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand1"
        value="amazon"
        name="brands"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand1"
        value="amazon"
        name="brands"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand1"
        value="amazon"
        name="brands"
      />
      {% endif %}
      <label class="custom-control-label" for="brand1">Amazon</label>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_brands %}{% if "apple" in selected_brands %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand2"
        value="apple"
        name="brands"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand2"
        value="apple"
        name="brands"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand2"
        value="apple"
        name="brands"
      />
      {% endif %}
      <label class="custom-control-label" for="brand2">Apple</label>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_brands %}{% if "google" in selected_brands %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand3"
        value="google"
        name="brands"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand3"
        value="google"
        name="brands"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand3"
        value="google"
        name="brands"
      />
      {% endif %}
      <label class="custom-control-label" for="brand3">Google</label>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_brands %}{% if "samsung" in selected_brands %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand4"
        value="samsung"
        name="brands"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand4"
        value="samsung"
        name="brands"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="brand4"
        value="samsung"
        name="brands"
      />
      {% endif %}
      <label class="custom-control-label" for="brand4">Samsung</label>
    </div>
  </div>
</div>
<div class="col-6 col-lg-12">
  <div class="form-group mb-4">
    <h3 class="text-capitalize mb-3">Prices</h3>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 1 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price1"
        value="1"
        name="price"
        checked
      />
      {% endif %}{% endif %}
      <input
        type="radio"
        class="custom-control-input"
        id="price1"
        value="1"
        name="price"
      />
      <label class="custom-control-label" for="price1">Under £200</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 2 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price2"
        value="2"
        name="price"
        checked
      />
      {% endif %}{% endif %}<input
        type="radio"
        class="custom-control-input"
        id="price2"
        value="2"
        name="price"
      />
      <label class="custom-control-label" for="price2">£200 - £300</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 3 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price3"
        value="3"
        name="price"
        checked
      />
      {% endif %}{% endif %}<input
        type="radio"
        class="custom-control-input"
        id="price3"
        value="3"
        name="price"
      />
      <label class="custom-control-label" for="price3">£300 - £400</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 4 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price4"
        value="4"
        name="price"
        checked
      />
      {% endif %}{% endif %}
      <input
        type="radio"
        class="custom-control-input"
        id="price4"
        value="4"
        name="price"
      />
      <label class="custom-control-label" for="price4">Over £400</label>
    </div>
  </div>
</div>
