<div class="col-6 col-lg-12">
  <div class="form-group mb-4">
    <h3 class="text-capitalize mb-3">Product Type</h3>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_categories %}{% if "phones" in selected_categories %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category1"
        value="phones"
        name="categories"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category1"
        value="phones"
        name="categories"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category1"
        value="phones"
        name="categories"
      />
      {% endif %}
      <label class="custom-control-label" for="category1">Phones</label>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_categories %}{% if "tablets" in selected_categories %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category2"
        value="tablets"
        name="categories"
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category2"
        value="tablets"
        name="categories"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category2"
        value="tablets"
        name="categories"
      />
      {% endif %}
      <label class="custom-control-label" for="category2">Tablets</label>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_brands %}{% if "dell" in selected_brands %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category3"
        value="laptops"
        name="categories"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category3"
        value="laptops"
        name="categories"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category3"
        value="laptops"
        name="categories"
      />
      {% endif %}
      <label class="custom-control-label" for="category3">Laptops</label>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      {% if selected_brands %}{% if "google" in selected_brands %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category4"
        value="accessories"
        name="categories"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category4"
        value="accessories"
        name="categories"
      />
      {% endif %} {% else %}
      <input
        type="checkbox"
        class="custom-control-input"
        id="category4"
        value="accessories"
        name="categories"
      />
      {% endif %}
      <label class="custom-control-label" for="category4">Accessories</label>
    </div>
  </div>
</div>
<div class="col-6 col-lg-12">
  <div class="form-group mb-4">
    <h3 class="text-capitalize mb-3">Prices</h3>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 1 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price1"
        value="1"
        name="price"
        checked
      />
      {% endif %}{% endif %}
      <input
        type="radio"
        class="custom-control-input"
        id="price1"
        value="1"
        name="price"
      />
      <label class="custom-control-label" for="price1">Under £250</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 2 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price2"
        value="2"
        name="price"
        checked
      />
      {% endif %}{% endif %}<input
        type="radio"
        class="custom-control-input"
        id="price2"
        value="1"
        name="price"
      />
      <label class="custom-control-label" for="price2">£250 - £500</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 3 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price3"
        value="3"
        name="price"
        checked
      />
      {% endif %}{% endif %}<input
        type="radio"
        class="custom-control-input"
        id="price3"
        value="3"
        name="price"
      />
      <label class="custom-control-label" for="price3">£500 - £750</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 4 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price4"
        value="4"
        name="price"
        checked
      />
      {% endif %}{% endif %}
      <input
        type="radio"
        class="custom-control-input"
        id="price4"
        value="4"
        name="price"
      />
      <label class="custom-control-label" for="price4">£750 - £1000</label>
    </div>
    <div class="custom-control custom-radio mb-2">
      {% if selected_price %}{% if selected_price == 5 %}
      <input
        type="radio"
        class="custom-control-input"
        id="price5"
        value="5"
        name="price"
        checked
      />
      {% endif %}{% endif %}<input
        type="radio"
        class="custom-control-input"
        id="price5"
        value="5"
        name="price"
      />
      <label class="custom-control-label" for="price5">Over £1000</label>
    </div>
  </div>
</div>
