<!--Extends base template-->
{% extends "base.html" %}
<!--Content block start-->
{% block content %}
<!--Main content container start-->
<div class="container content-container">
    <!--Page heading start-->
    <div class="row no-gutters">
        <div class="col-12">
            <h1 class="text-center heading-1 headings">{{page_title}}</h1>
        </div>
    </div>
    <!--Page heading end-->
    <!--Add product form start. CSS Classes for form styling is from https://bootswatch.com/lux/-->
    <div class="row no-gutters">
        <form class="col-12 col-md-10 col-lg-8 mx-auto" action="{{url_for('add_product')}}" method="POST">
            <!--Product Details start-->
            <div id="product-details">
                <!--Product Name start-->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name"
                        required />
                </div>
                <!--Product Name end-->
                <!--Category start-->
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="custom-select" id="category" name="category" required>
                        <!--Disabled option value is https://stackoverflow.com/questions/42430408/html-option-selected-disabled-cause-select-required-not-working-->
                        <option selected disabled value="">Select a category</option>
                        {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!--Category end-->
                <!--Price start. Code to prepend the £ sign on to the start of the form is from https://getbootstrap.com/docs/4.5/components/input-group/ -->
                <div class="form-group">
                    <label for="price">Price</label>
                    <!--Code for min, max and step attributes is from https://getbootstrap.com/docs/4.5/components/forms/#range-->
                    <div class="input-group-prepend">
                        <span class="input-group-text">£</span>
                        <input type="number" min="0" max="5000" step="0.01" class="form-control" id="price" name="price"
                            placeholder="Enter price" required />
                    </div>
                </div>
                <!--Price end-->
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter brand"
                        required />
                </div>
                <!--Image URL start-->
                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input type="text" class="form-control" id="image" name="image_url"
                        placeholder="Enter image URL" required />
                </div>
                <!--Image URL end-->
                <!--Image description start-->
                <div class="form-group">
                    <label for="imageDescription">Image Description</label>
                    <input type="text" class="form-control" id="imageDescription" name="image_alt"
                        placeholder="Enter image description" required />
                </div>
                <!--Image description end-->
                <!--Next button start-->
                <div class="form-group form-group-button text-center">
                    <button class="btn btn-green no-box-shadow" type="button">Next</button>
                </div>
                <!--Next button end-->
            </div>
            <!--Product Details end-->
            <!--Product Features start-->
            <div id="product-features" class="d-none">
                <!--Colours start-->
                <div class="form-group">
                    <label for="colours">Colours</label>
                    <input type="text" class="form-control" id="colours" name="colours"
                        placeholder="Enter colour details" />
                </div>
                <!--Colours end-->
                <!--Capacity start-->
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input type="text" class="form-control" id="capacity" name="capacity"
                        placeholder="Enter capacity details" />
                </div>
                <!--Capacity end-->
                <!--Display start-->
                <div class="form-group">
                    <label for="display">Display</label>
                    <input type="text" class="form-control" id="display" name="display"
                        placeholder="Enter display details" />
                </div>
                <!--Display end-->
                <!--Processor, memory and graphics start-->
                <div class="form-group">
                    <label for="processorMemoryGraphics">Processor, Memory and Graphics</label>
                    <input type="text" class="form-control" id="processorMemoryGraphics"
                        name="processor_memory_graphics" placeholder="Enter processor, memory and graphics details" />
                </div>
                <!--Processor, memory and graphics end-->
                <!--Camera and video start-->
                <div class="form-group">
                    <label for="cameraVideo">Camera and Video</label>
                    <input type="text" class="form-control" id="cameraVideo" name="camera_video"
                        placeholder="Enter camera and video details" />
                </div>
                <!--Camera and video end-->
                <!--Battery life start-->
                <div class="form-group">
                    <label for="battery">Battery Life</label>
                    <input type="text" class="form-control" id="battery" name="battery"
                        placeholder="Enter battery life details" />
                </div>
                <!--Battery life end-->
                <!--Connectivity start-->
                <div class="form-group">
                    <label for="connectivity">Connectivity</label>
                    <input type="text" class="form-control" id="connectivity" name="connectivity"
                        placeholder="Enter connectivity details" />
                </div>
                <!--Connectivity end-->
                <!--Additional features start-->
                <div class="form-group">
                    <label for="additionalFeatures">Additional Features</label>
                    <textarea class="form-control" id="additionalFeatures" name="additional-features" rows="5" placeholder="Enter additional feature details"></textarea>
                </div>
                <!--Additional features end-->
                <!--Back and add product buttons start-->
                <div class="form-group form-group-button text-center">
                    <button class="btn btn-green btn-wide no-box-shadow mr-3" type="button">Back</button>
                    <button class="btn btn-green btn-wide no-box-shadow" type="submit">Add Product</button>
                </div>
                <!--Back and add product buttons end-->
            </div>
            <!--Product features end-->
        </form>
    </div>
    <!--Add product form end-->
</div>
<!--Main content container end-->
{% endblock %}
<!--Content block end-->
<!--Postload JS block start-->
{% block postloadjs %}
<!--Import product-management.js script -->
<script src="/static/js/product-management.js"></script>
<!--Postload JS block end-->
{% endblock %}