{% extends "base.html" %} {% block content %}
<section>
  <div class="container content-container">
    <div class="row no-gutters">
      <div class="col">
        <h1 class="text-center headings">{{ page_title }}</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <form
        action="{{url_for('add_review')}}"
        method="POST"
        class="col-12 col-md-8 offset-md-2"
      >
        <div class="form-group form-group-overall-ratings mb-0">
          <label class="ratings-label" for="overall_rating"
            ><h4 class="form-subheadings">Overall Rating</h4></label
          >
          <div id="overall_rating" class="rating">
            <input
              id="overall_rating_5"
              type="radio"
              name="overall_rating"
              value="5"
            /><label for="overall_rating_5"><i class="fas fa-star"></i></label>
            <input
              id="overall_rating_4"
              type="radio"
              name="overall_rating"
              value="4"
            /><label for="overall_rating_4"><i class="fas fa-star"></i></label>
            <input
              id="overall_rating_3"
              type="radio"
              name="overall_rating"
              value="3"
            /><label for="overall_rating_3"><i class="fas fa-star"></i></label>
            <input
              id="overall_rating_2"
              type="radio"
              name="overall_rating"
              value="2"
            /><label for="overall_rating_2"><i class="fas fa-star"></i></label>
            <input
              id="overall_rating_1"
              type="radio"
              name="overall_rating"
              value="1"
            /><label for="overall_rating_1"><i class="fas fa-star"></i></label>
          </div>
        </div>
        <hr class="form-divider">
        <h4 class="form-subheadings feature-ratings-text">Feature Ratings</h4>
        <div class="row no-gutters feature-ratings">
          <div class="col-6">
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="performance_rating"
                >Performance</label
              >
              <div id="performance_rating" class="rating">
                <input
                  id="performance_rating_5"
                  type="radio"
                  name="performance_rating"
                  value="5"
                /><label for="performance_rating_5"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="performance_rating_4"
                  type="radio"
                  name="performance_rating"
                  value="4"
                /><label for="performance_rating_4"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="performance_rating_3"
                  type="radio"
                  name="performance_rating"
                  value="3"
                /><label for="performance_rating_3"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="performance_rating_2"
                  type="radio"
                  name="performance_rating"
                  value="2"
                /><label for="performance_rating_2"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="performance_rating_1"
                  type="radio"
                  name="performance_rating"
                  value="1"
                /><label for="performance_rating_1"
                  ><i class="fas fa-star"></i
                ></label>
              </div>
            </div>
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="usability_rating"
                >Ease of Use</label
              >
              <div id="usability_rating" class="rating">
                <input
                  id="usability_rating_5"
                  type="radio"
                  name="usability_rating"
                  value="5"
                /><label for="usability_rating_5"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="usability_rating_4"
                  type="radio"
                  name="usability_rating"
                  value="4"
                /><label for="usability_rating_4"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="usability_rating_3"
                  type="radio"
                  name="usability_rating"
                  value="3"
                /><label for="usability_rating_3"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="usability_rating_2"
                  type="radio"
                  name="usability_rating"
                  value="2"
                /><label for="usability_rating_2"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="usability_rating_1"
                  type="radio"
                  name="usability_rating"
                  value="1"
                /><label for="usability_rating_1"
                  ><i class="fas fa-star"></i
                ></label>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="quality_rating"
                >Quality</label
              >
              <div id="quality_rating" class="rating">
                <input
                  id="quality_rating_5"
                  type="radio"
                  name="quality_rating"
                  value="5"
                /><label for="quality_rating_5"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="quality_rating_4"
                  type="radio"
                  name="quality_rating"
                  value="4"
                /><label for="quality_rating_4"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="quality_rating_3"
                  type="radio"
                  name="quality_rating"
                  value="3"
                /><label for="quality_rating_3"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="quality_rating_2"
                  type="radio"
                  name="quality_rating"
                  value="2"
                /><label for="quality_rating_2"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="quality_rating_1"
                  type="radio"
                  name="quality_rating"
                  value="1"
                /><label for="quality_rating_1"
                  ><i class="fas fa-star"></i
                ></label>
              </div>
            </div>
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="price_rating">Value for Money</label>
              <div id="price_rating" class="rating">
                <input
                  id="price_rating_5"
                  type="radio"
                  name="price_rating"
                  value="5"
                /><label for="price_rating_5"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="price_rating_4"
                  type="radio"
                  name="price_rating"
                  value="4"
                /><label for="price_rating_4"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="price_rating_3"
                  type="radio"
                  name="price_rating"
                  value="3"
                /><label for="price_rating_3"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="price_rating_2"
                  type="radio"
                  name="price_rating"
                  value="2"
                /><label for="price_rating_2"
                  ><i class="fas fa-star"></i
                ></label>
                <input
                  id="price_rating_1"
                  type="radio"
                  name="price_rating"
                  value="1"
                /><label for="price_rating_1"
                  ><i class="fas fa-star"></i
                ></label>
              </div>
            </div>
          </div>
        </div>
        <hr class="form-divider">
        <div class="form-group">
          <label for="review_title"
            ><h4 class="form-subheadings">Review Title</h4></label
          >
          <input
            type="text"
            class="form-control"
            id="review_title"
            name="review_title"
            aria-describedby="review_title"
            required
          />
        </div>
        <div class="form-group">
          <label for="review"
            ><h4 class="form-subheadings">Your Review</h4></label
          >
          <textarea
            class="form-control"
            id="review"
            name="review"
            rows="5"
            aria-describedby="review"
            required
          ></textarea>
        </div>
        <!--Code from https://blog.tecladocode.com/handling-the-next-url-when-logging-in-with-flask/-->
        <div class="form-group d-none">
            <input
                type="hidden"
                id="product"
                name="product"
            />
            <input
                type="hidden"
                name="next"
                value="{{ request.referrer }}"
            />
        </div>
        <div class="form-group form-group-button text-center mt-4">
          <button type="submit" class="btn btn-green">Add Review</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
{% block postloadjs %}
<script>
$(document).ready(function() {
    let product = localStorage.getItem("product")
    $('#product').val(product)
})
</script>
{% endblock %}
