{% extends "base.html" %} {% block content %}
<section class="container-fluid content-container-top px-0">
    <div class="row no-gutters">
        <div class="col-12 contact-img">
            <div class="overlay"></div>
            <h1 class="contact-heading text-center mb-0">{{page_title}}</h1>
        </div>
    </div>
    <div class="container content-container">
        <div class="row no-gutters">
            <div class="col-12 col-lg-4 justify-content-center mb-3 mb-lg-0 pr-lg-4">
                <div class="info-item-container">
                    <h4><i class="fas fa-map-marked-alt info-icons"></i>Address</h4>
                    <p class="info-paragraph">
                        111 Queen St W, Toronto, ON M5H 2G4, Canada.
                    </p>
                </div>
                <div class="info-item-container">
                    <h4><i class="fas fa-envelope info-icons"></i>Email</h4>
                    <p class="info-paragraph">info@techreviews.com</p>
                </div>
                <div class="info-item-container">
                    <h4><i class="fas fa-mobile-alt info-icons"></i>Phone</h4>
                    <p class="info-paragraph">+1 5589 55488</p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <form id="contact-form">
                    <div class="form-group text-center mt-lg-3 mb-0">
                        {% if session.user %}
                        <input type="text" class="form-control mb-4" name="name" placeholder="Name"
                            value="{{session.user.first_name}} {{session.user.last_name}}" required />
                        {% else %}
                        <input type="text" class="form-control mb-4" name="name" placeholder="Name" aria-label="Name"
                            required />
                        {% endif %}
                        {% if session.user %}
                        <input type="email" class="form-control mb-4" name="email" placeholder="Email Address"
                            value="{{session.user.email}}" required />
                        {% else %}
                        <input type="email" class="form-control mb-4" name="email" placeholder="Email Address"
                            aria-label="Email Address" required />
                        {% endif %}
                        <textarea type="text" class="form-control" name="message" rows="5" placeholder="Message"
                            aria-label="Message" required></textarea>
                    </div>
                    <div class="form-group form-group-button text-center">
                        <button type="submit" class="btn btn-green">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
<script src="{{ url_for('static', filename='js/contact.js') }}">
</script>
{% endblock %}