{% extends "base.html" %} {% block content %}
<div class="container content-container">
  <div class="row no-gutters">
    <div class="col-12">
      <h1 class="text-center headings">{{page_title}}</h1>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <form action="{{url_for('edit_product', product_id=product._id)}}" method="POST">
        <div id="product-details">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                value="{{product.name}}"
                placeholder="Enter product name"
                required
              />
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select
                class="custom-select"
                id="category"
                name="category"
                required
              >
                {% for category in categories %}{% if category.name ==
                product.category %}
                <option value="{{category.name}}" selected>
                  {{category.name.capitalize()}}
                </option>
                {% else %}
                <option value="{{category.name}}">
                  {{category.name.capitalize()}}
                </option>
                {% endif %} {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <div class="input-group-prepend">
                <span class="input-group-text">£</span>
                <input
                  type="text"
                  class="form-control"
                  id="price"
                  name="price"
                  value="{{product.price}}"
                  placeholder="Enter product price"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="brand">Brand</label>
              <input
                type="text"
                class="form-control"
                name="brand"
                value="{{product.brand}}"
                placeholder="Enter product brand"
                required
              />
            </div>
            <div class="form-group">
              <label for="image">Image URL</label>
              <input
                type="text"
                class="form-control"
                name="image-url"
                value="{{product.image_url}}"
                placeholder="Enter product image URL"
                required
              />
            </div>
            <div class="form-group">
              <label for="image-description">Image Description</label>
              <input
                type="text"
                class="form-control"
                name="image-alt"
                value="{{product.image_alt}}"
                placeholder="Enter image description"
                required
              />
            </div>
            <div class="form-group form-group-button text-center">
          <button class="btn btn-green form-btn" type="button">Next</button>
        </div>
          </div>
          <div id="product-features" class="d-none">
            <div class="form-group">
              <label for="colours">Colours</label>
              <input
                type="text"
                class="form-control"
                id="colours"
                name="colours"
                value="{{product.colours}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="capacity">Capacity</label>
              <input
                type="text"
                class="form-control"
                id="capacity"
                name="capacity"
                value="{{product.capacity}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="display">Display</label>
              <input
                type="text"
                class="form-control"
                id="display"
                name="display"
                value="{{product.display}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="processor_memory_graphics"
                >Processor, Memory and Graphics</label
              >
              <input
                type="text"
                class="form-control"
                id="processor_memory_graphics"
                name="processor_memory_graphics"
                value="{{product.processor_memory_graphics}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="camera_video">Camera and Video</label>
              <input
                type="text"
                class="form-control"
                id="camera_video"
                name="camera_video"
                value="{{product.camera_video}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="battery">Battery Life</label>
              <input
                type="text"
                class="form-control"
                id="battery"
                name="battery"
                value="{{product.battery}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="connectivity">Connectivity</label>
              <input
                type="text"
                class="form-control"
                id="connectivity"
                name="connectivity"
                value="{{product.connectivity}}"
                placeholder="Enter feature details"
              />
            </div>
            <div class="form-group">
              <label for="additional_features">Additional Features</label>
              <input
                type="text"
                class="form-control"
                id="additional_features"
                name="additional_features"
                value="{{product.additional_features}}"
                placeholder="Enter feature details"
              />
            </div>
        <div class="form-group form-group-button text-center">
          <button class="btn btn-green form-btn mr-3" type="button">Back</button>
          <button class="btn btn-green form-btn" type="submit">Update Product</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block postloadjs %}
<script src="/static/js/product-management.js"></script>
{% endblock %}