<!--Extends base template-->
{% extends "base.html" %}
<!--Content block start-->
{% block content %}
<!--Main content container start-->
<section class="container content-container">
    <!--Page title start-->
    <div class="row no-gutters">
        <div class="col">
            <h1 class="text-center heading-1 headings-top">{{ page_title }}</h1>
        </div>
    </div>
    <!--Page title end-->
    <!--Edit review form start. CSS Classes for form styling is from https://bootswatch.com/lux/-->
    <div class="row no-gutters">
        <form action="{{url_for('edit_review', review_id=review._id)}}" method="POST"
            class="col-12 col-md-8 offset-md-2">
            <!--Overall Ratings start. Code for stars is from https://fontawesome.com/icons/star?style=solid-->
            <div class="form-group form-group-ratings">
                <h2 class="heading-4 text-transform-none">Overall Rating
                </h2>
                <div class="rating">
                    {% if review.overall_rating == 5 %}
                    <input id="overallRating5" type="radio" name="overall_rating" value="5" checked />
                    {% else %}
                    <input id="overallRating5" type="radio" name="overall_rating" value="5" />
                    {% endif %}
                    <label for="overallRating5">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <span class="sr-only">5
                            Stars</span>
                    </label>
                    {% if review.overall_rating == 4 %}
                    <input id="overallRating4" type="radio" name="overall_rating" value="4" checked />
                    {% else %}
                    <input id="overallRating4" type="radio" name="overall_rating" value="4" />
                    {% endif %}
                    <label for="overallRating4">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <span class="sr-only">4
                            Stars</span>
                    </label>
                    {% if review.overall_rating == 3 %}
                    <input id="overallRating3" type="radio" name="overall_rating" value="3" checked />
                    {% else %}
                    <input id="overallRating3" type="radio" name="overall_rating" value="3" />
                    {% endif %}
                    <label for="overallRating3">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <span class="sr-only">3
                            Stars</span>
                    </label>
                    {% if review.overall_rating == 2 %}
                    <input id="overallRating2" type="radio" name="overall_rating" value="2" checked />
                    {% else %}
                    <input id="overallRating2" type="radio" name="overall_rating" value="2" />
                    {% endif %}
                    <label for="overallRating2">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <span class="sr-only">2
                            Stars</span>
                    </label>
                    {% if review.overall_rating == 1 %}
                    <input id="overallRating1" type="radio" name="overall_rating" value="1" checked />
                    {% else %}
                    <input id="overallRating1" type="radio" name="overall_rating" value="1" />
                    {% endif %}
                    <label for="overallRating1">
                        <i class="fas fa-star" aria-hidden="true"></i>
                        <span class="sr-only">1
                            Star</span>
                    </label>
                </div>
            </div>
            <!--Overall Ratings end-->
            <!--Section divider-->
            <hr class="my-3">
            <!--Feature ratings heading-->
            <h2 class="heading-4 text-transform-none mb-3">Feature Ratings</h2>
            <div class="row no-gutters feature-ratings">
                <div class="col-6">
                    <!--Performance rating start. Code for stars is from https://fontawesome.com/icons/star?style=solid-->
                    <div class="form-group form-group-ratings">
                        <p class="mb-2">Performance</p>
                        <div class="rating">
                            {% if review.performance_rating == 5 %}
                            <input id="performanceRating5" type="radio" name="performance_rating" value="5" checked />
                            {% else %}
                            <input id="performanceRating5" type="radio" name="performance_rating" value="5" />
                            {% endif %}
                            <label for="performanceRating5">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">5 Stars</span>
                            </label>
                            {% if review.performance_rating == 4 %}
                            <input id="performanceRating4" type="radio" name="performance_rating" value="4" checked />
                            {% else %}
                            <input id="performanceRating4" type="radio" name="performance_rating" value="4" />
                            {% endif %}
                            <label for="performanceRating4">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">4 Stars</span>
                            </label>
                            {% if review.performance_rating == 3 %}
                            <input id="performanceRating3" type="radio" name="performance_rating" value="3" checked />
                            {% else %}
                            <input id="performanceRating3" type="radio" name="performance_rating" value="3" />
                            {% endif %}
                            <label for="performanceRating3">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">3 Stars</span>
                            </label>
                            {% if review.performance_rating == 2 %}
                            <input id="performanceRating2" type="radio" name="performance_rating" value="2" checked />
                            {% else %}
                            <input id="performanceRating2" type="radio" name="performance_rating" value="2" />
                            {% endif %}
                            <label for="performanceRating2">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">2 Stars</span>
                            </label>
                            {% if review.performance_rating == 1 %}
                            <input id="performanceRating1" type="radio" name="performance_rating" value="1" />
                            {% else %}
                            <input id="performanceRating1" type="radio" name="performance_rating" value="1" />
                            {% endif %}
                            <label for="performanceRating1">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">1 Star</span>
                            </label>
                        </div>
                    </div>
                    <!--Performance rating end-->
                    <!--Ease of use rating start. Code for stars is from https://fontawesome.com/icons/star?style=solid-->
                    <div class="form-group form-group-ratings mb-0">
                        <p class="mb-2">Ease of Use</p>
                        <div class="rating">
                            {% if review.usability_rating == 5 %}
                            <input id="usabilityRating5" type="radio" name="usability_rating" value="5" checked />
                            {% else %}
                            <input id="usabilityRating5" type="radio" name="usability_rating" value="5" />
                            {% endif %}
                            <label for="usabilityRating5">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">5 Stars</span>
                            </label>
                            {% if review.usability_rating == 4 %}
                            <input id="busabilityRating4" type="radio" name="usability_rating" value="4" checked />
                            {% else %}
                            <input id="usabilityRating4" type="radio" name="usability_rating" value="4" />
                            {% endif %}
                            <label for="usabilityRating4">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">4 Stars</span>
                            </label>
                            {% if review.usability_rating == 3 %}
                            <input id="usabilityRating3" type="radio" name="usability_rating" value="3" checked />
                            {% else %}
                            <input id="usabilityRating3" type="radio" name="usability_rating" value="3" />
                            {% endif %}
                            <label for="usabilityRating3">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">3 Stars</span>
                            </label>
                            {% if review.usability_rating == 2 %}
                            <input id="usabilityRating2" type="radio" name="usability_rating" value="2" checked />
                            {% else %}
                            <input id="usabilityRating2" type="radio" name="usability_rating" value="2" />
                            {% endif %}
                            <label for="usabilityRating2">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">2 Stars</span>
                            </label>
                            {% if review.usability_rating == 1 %}
                            <input id="usabilityRating1" type="radio" name="usability_rating" value="1" checked />
                            {% else %}
                            <input id="usabilityRating1" type="radio" name="usability_rating" value="1" />
                            {% endif %}
                            <label for="usabilityRating1">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">1 Star</span>
                            </label>
                        </div>
                    </div>
                    <!--Ease of use rating end-->
                </div>
                <div class="col-6">
                    <!--Quality rating start. Code for stars is from https://fontawesome.com/icons/star?style=solid-->
                    <div class="form-group form-group-ratings">
                        <p class="mb-2">Quality</p>
                        <div class="rating">
                            {% if review.quality_rating == 5 %}
                            <input id="qualityRating5" type="radio" name="quality_rating" value="5" checked />
                            {% else %}
                            <input id="qualityRating5" type="radio" name="quality_rating" value="5" />
                            {% endif %}
                            <label for="qualityRating5">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">5 Stars</span>
                            </label>
                            {% if review.quality_rating == 4 %}
                            <input id="qualityRating4" type="radio" name="quality_rating" value="4" checked />
                            {% else %}
                            <input id="qualityRating4" type="radio" name="quality_rating" value="4" />
                            {% endif %}
                            <label for="qualityRating4">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">4 Stars</span>
                            </label>
                            {% if review.quality_rating == 3 %}
                            <input id="qualityRating3" type="radio" name="quality_rating" value="3" checked />
                            {% else %}
                            <input id="qualityRating3" type="radio" name="quality_rating" value="3" />
                            {% endif %}
                            <label for="qualityRating3">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">3 Stars</span>
                            </label>
                            {% if review.quality_rating == 2 %}
                            <input id="qualityRating2" type="radio" name="quality_rating" value="2" checked />
                            {% else %}
                            <input id="qualityRating2" type="radio" name="quality_rating" value="2" />
                            {% endif %}
                            <label for="qualityRating2">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">2 Stars</span>
                            </label>
                            {% if review.quality_rating == 1 %}
                            <input id="qualityRating1" type="radio" name="quality_rating" value="1" checked />
                            {% else %}
                            <input id="qualityRating1" type="radio" name="quality_rating" value="1" />
                            {% endif %}
                            <label for="qualityRating1">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">1 Star</span>
                            </label>
                        </div>
                    </div>
                    <!--Quality rating end-->
                    <!--Value for Money rating start. Code for stars is from https://fontawesome.com/icons/star?style=solid-->
                    <div class="form-group form-group-ratings mb-0">
                        <p class="mb-2">Value for Money</p>
                        <div class="rating">
                            {% if review.price_rating == 5 %}
                            <input id="priceRating5" type="radio" name="price_rating" value="5" checked />
                            {% else %}
                            <input id="priceRating5" type="radio" name="price_rating" value="5" />
                            {% endif %}
                            <label for="priceRating5">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">5 Stars</span>
                            
                            </label>
                            {% if review.price_rating == 4 %}
                            <input id="priceRating4" type="radio" name="price_rating" value="4" checked />
                            {% else %}
                            <input id="priceRating4" type="radio" name="price_rating" value="4" />
                            {% endif %}
                            <label for="priceRating4">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">4 Stars</span>
                                </label>
                            {% if review.price_rating == 3 %}
                            <input id="priceRating3" type="radio" name="price_rating" value="3" checked />
                            {% else %}
                            <input id="priceRating3" type="radio" name="price_rating" value="3" />
                            {% endif %}
                            <label for="priceRating3">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">3 Stars</span>
                                </label>
                            {% if review.price_rating == 2 %}
                            <input id="priceRating2" type="radio" name="rating" value="2" checked />
                            {% else %}
                            <input id="priceRating2" type="radio" name="rating" value="2" />
                            {% endif %}
                            <label for="priceRating2">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">2 Stars</span>
                                </label>
                            {% if review.price_rating == 1 %}
                            <input id="priceRating1" type="radio" name="price_rating" value="1" checked />
                            {% else %}
                            <input id="priceRating1" type="radio" name="price_rating" value="1" />
                            {% endif %}
                            <label for="priceRating1">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <span class="sr-only">1 Star</span>
                            </label>
                        </div>
                    </div>
                    <!--Value for money rating start-->
                </div>
            </div>
            <!--Section divider-->
            <hr class="my-3">
            <!--Review title start-->
            <div class="form-group">
                <label for="reviewTitle" class="heading-4 form-subheadings">Review Title
                </label>
                <input type="text" class="form-control" id="reviewTitle" name="review_title"
                    value="{{review.review_title}}" required />
            </div>
            <!--Review title end-->
            <!--Review detail start-->
            <div class="form-group">
                <label for="review" class="heading-4 form-subheadings">Your Review
                </label>
                <textarea class="form-control" id="review" name="review" rows="5"
                    required>{{- review.review -}}</textarea>
            </div>
            <!--Review detail end-->
            <!--Update review button start-->
            <div class="form-group form-group-button text-center mt-4">
                <button type="submit" class="btn btn-green">Update Review</button>
            </div>
            <!--Update review button end-->
            <!--Next hidden field start. Code from https://blog.tecladocode.com/handling-the-next-url-when-logging-in-with-flask/-->
            <div class="form-group d-none">
                <input type="hidden" name="next" value="{{request.args.get('next', '')}}" />
            </div>
            <!--Next hidden field end-->
        </form>
    </div>
    <!--Edit review form end-->
</section>
<!--Main content container end-->
{% endblock %}
<!--Content block end-->