{% extends "base.html" %} {% block content %}
<section>
  <div class="container content-container">
    <div class="row no-gutters">
      <div class="col">
        <h1 class="text-center headings">{{ page_title }}</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <form
        action="{{url_for('edit_review', review_id=review._id)}}"
        method="POST"
        class="col-12 col-md-8 offset-md-2"
      >
        <div class="form-group form-group-overall-ratings form-border">
          <label class="ratings-label" for="overall_rating"
            ><h4 class="form-subheadings">Overall Rating</h4></label
          >
          <div id="overall_rating" class="rating">
            {% if review.overall_rating == 5 %}
            <input
              id="overall_rating_5"
              type="radio"
              name="overall_rating"
              value="5"
              checked
            />
            {% else %}
            <input
              id="overall_rating_5"
              type="radio"
              name="overall_rating"
              value="5"
            />
            {% endif %}
            <label for="overall_rating_5"><i class="fas fa-star"></i></label>
            {% if review.overall_rating == 4 %}
            <input
              id="overall_rating_4"
              type="radio"
              name="overall_rating"
              value="4"
              checked
            />
            {% else %}
            <input
              id="overall_rating_4"
              type="radio"
              name="overall_rating"
              value="4"
            />
            {% endif %}
            <label for="overall_rating_4"><i class="fas fa-star"></i></label>
            {% if review.overall_rating == 3 %}
            <input
              id="overall_rating_3"
              type="radio"
              name="overall_rating"
              value="3"
              checked
            />
            {% else %}
            <input
              id="overall_rating_3"
              type="radio"
              name="overall_rating"
              value="3"
            />
            {% endif %}
            <label for="overall_rating_3"><i class="fas fa-star"></i></label>
            {% if review.overall_rating == 2 %}
            <input
              id="overall_rating_2"
              type="radio"
              name="overall_rating"
              value="2"
              checked
            />
            {% else %}
            <input
              id="overall_rating_2"
              type="radio"
              name="overall_rating"
              value="2"
            />
            {% endif %}
            <label for="overall_rating_2"><i class="fas fa-star"></i></label>
            {% if review.overall_rating == 1 %}
            <input
              id="overall_rating_1"
              type="radio"
              name="overall_rating"
              value="1"
              checked
            />
            {% else %}
            <input
              id="overall_rating_1"
              type="radio"
              name="overall_rating"
              value="1"
            />
            {% endif %}
            <label for="overall_rating_1"><i class="fas fa-star"></i></label>
          </div>
        </div>
        <h4 class="form-subheadings feature-ratings-text">Feature Ratings</h4>
        <div class="row no-gutters">
          <div class="col-6">
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="performance_rating"
                >Performance</label
              >
              <div id="performance_rating" class="rating">
                {% if review.performance_rating == 5 %}
                <input
                  id="performance_rating_5"
                  type="radio"
                  name="performance_rating"
                  value="5"
                  checked
                />
                {% else %}
                <input
                  id="performance_rating_5"
                  type="radio"
                  name="performance_rating"
                  value="5"
                />
                {% endif %}
                <label for="performance_rating_5"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.performance_rating == 4 %}
                <input
                  id="performance_rating_4"
                  type="radio"
                  name="performance_rating"
                  value="4"
                  checked
                />
                {% else %}
                <input
                  id="performance_rating_4"
                  type="radio"
                  name="performance_rating"
                  value="4"
                />
                {% endif %}
                <label for="performance_rating_4"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.performance_rating == 3 %}
                <input
                  id="performance_rating_3"
                  type="radio"
                  name="performance_rating"
                  value="3"
                  checked
                />
                {% else %}
                <input
                  id="performance_rating_3"
                  type="radio"
                  name="performance_rating"
                  value="3"
                />
                {% endif %}
                <label for="performance_rating_3"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.performance_rating == 2 %}
                <input
                  id="performance_rating_2"
                  type="radio"
                  name="performance_rating"
                  value="2"
                  checked
                />
                {% else %}
                <input
                  id="performance_rating_2"
                  type="radio"
                  name="performance_rating"
                  value="2"
                />
                {% endif %}
                <label for="performance_rating_2"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.performance_rating == 1 %}
                <input
                  id="performance_rating_1"
                  type="radio"
                  name="performance_rating"
                  value="1"
                />
                {% else %}
                <input
                  id="performance_rating_1"
                  type="radio"
                  name="performance_rating"
                  value="1"
                />
                {% endif %}
                <label for="performance_rating_1"
                  ><i class="fas fa-star"></i
                ></label>
              </div>
            </div>
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="battery_rating"
                >Battery Life</label
              >
              <div id="battery_rating" class="rating">
                {% if review.battery_rating == 5 %}
                <input
                  id="battery_rating_5"
                  type="radio"
                  name="battery_rating"
                  value="5"
                  checked
                />
                {% else %}
                <input
                  id="battery_rating_5"
                  type="radio"
                  name="battery_rating"
                  value="5"
                />
                {% endif %}
                <label for="battery_rating_5"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.battery_rating == 4 %}
                <input
                  id="battery_rating_4"
                  type="radio"
                  name="battery_rating"
                  value="4"
                  checked
                />
                {% else %}
                <input
                  id="battery_rating_4"
                  type="radio"
                  name="battery_rating"
                  value="4"
                />
                {% endif %}
                <label for="battery_rating_4"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.battery_rating == 3 %}
                <input
                  id="battery_rating_3"
                  type="radio"
                  name="battery_rating"
                  value="3"
                  checked
                />
                {% else %}
                <input
                  id="battery_rating_3"
                  type="radio"
                  name="battery_rating"
                  value="3"
                />
                {% endif %}
                <label for="battery_rating_3"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.battery_rating == 2 %}
                <input
                  id="battery_rating_2"
                  type="radio"
                  name="battery_rating"
                  value="2"
                  checked
                />
                {% else %}
                <input
                  id="battery_rating_2"
                  type="radio"
                  name="battery_rating"
                  value="2"
                />
                {% endif %}
                <label for="battery_rating_2"
                  ><i class="fas fa-star"></i
                ></label>
                {% if review.battery_rating == 1 %}
                <input
                  id="battery_rating_1"
                  type="radio"
                  name="battery_rating"
                  value="1"
                  checked
                />
                {% else %}
                <input
                  id="battery_rating_1"
                  type="radio"
                  name="battery_rating"
                  value="1"
                />
                {% endif %}
                <label for="battery_rating_1"
                  ><i class="fas fa-star"></i
                ></label>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="screen_rating"
                >Screen Quality</label
              >
              <div id="screen_rating" class="rating">
                {% if review.screen_rating == 5 %}
                <input
                  id="screen_rating_5"
                  type="radio"
                  name="screen_rating"
                  value="5"
                  checked
                />
                {% else %}
                <input
                  id="screen_rating_5"
                  type="radio"
                  name="screen_rating"
                  value="5"
                />
                {% endif %}
                <label for="screen_rating_5"><i class="fas fa-star"></i></label>
                {% if review.screen_rating == 4 %}
                <input
                  id="screen_rating_4"
                  type="radio"
                  name="screen_rating"
                  value="4"
                  checked
                />
                {% else %}
                <input
                  id="screen_rating_4"
                  type="radio"
                  name="screen_rating"
                  value="4"
                />
                {% endif %}
                <label for="screen_rating_4"><i class="fas fa-star"></i></label>
                {% if review.screen_rating == 3 %}
                <input
                  id="screen_rating_3"
                  type="radio"
                  name="screen_rating"
                  value="3"
                  checked
                />
                {% else %}
                <input
                  id="screen_rating_3"
                  type="radio"
                  name="screen_rating"
                  value="3"
                />
                {% endif %}
                <label for="screen_rating_3"><i class="fas fa-star"></i></label>
                {% if review.screen_rating == 2 %}
                <input
                  id="screen_rating_2"
                  type="radio"
                  name="screen_rating"
                  value="2"
                  checked
                />
                {% else %}
                <input
                  id="screen_rating_2"
                  type="radio"
                  name="screen_rating"
                  value="2"
                />
                {% endif %}
                <label for="screen_rating_2"><i class="fas fa-star"></i></label>
                {% if review.screen_rating == 1 %}
                <input
                  id="screen_rating_1"
                  type="radio"
                  name="screen_rating"
                  value="1"
                  checked
                />
                {% else %}
                <input
                  id="screen_rating_1"
                  type="radio"
                  name="screen_rating"
                  value="1"
                />
                {% endif %}
                <label for="screen_rating_1"><i class="fas fa-star"></i></label>
              </div>
            </div>
            <div class="form-group form-group-feature-ratings">
              <label class="ratings-label" for="camera_rating">Camera</label>
              <div id="camera_rating" class="rating">
                {% if review.camera_rating == 5 %}
                <input
                  id="camera_rating_5"
                  type="radio"
                  name="camera_rating"
                  value="5"
                  checked
                />
                {% else %}
                <input
                  id="camera_rating_5"
                  type="radio"
                  name="camera_rating"
                  value="5"
                />
                {% endif %}
                <label for="camera_rating_5"><i class="fas fa-star"></i></label>
                {% if review.camera_rating == 4 %}
                <input
                  id="camera_rating_4"
                  type="radio"
                  name="camera_rating"
                  value="4"
                  checked
                />
                {% else %}
                <input
                  id="camera_rating_4"
                  type="radio"
                  name="camera_rating"
                  value="4"
                />
                {% endif %}
                <label for="camera_rating_4"><i class="fas fa-star"></i></label>
                {% if review.camera_rating == 3 %}
                <input
                  id="camera_rating_3"
                  type="radio"
                  name="camera_rating"
                  value="3"
                  checked
                />
                {% else %}
                <input
                  id="camera_rating_3"
                  type="radio"
                  name="camera_rating"
                  value="3"
                />
                {% endif %}
                <label for="camera_rating_3"><i class="fas fa-star"></i></label>
                {% if review.camera_rating == 2 %}
                <input
                  id="cameraRating_2"
                  type="radio"
                  name="rating"
                  value="2"
                  checked
                />
                {% else %}
                <input
                  id="cameraRating_2"
                  type="radio"
                  name="rating"
                  value="2"
                />
                {% endif %}
                <label for="camera_rating_2"><i class="fas fa-star"></i></label>
                {% if review.camera_rating == 1 %}
                <input
                  id="camera_rating_1"
                  type="radio"
                  name="camera_rating"
                  value="1"
                  checked
                />
                {% else %}
                <input
                  id="camera_rating_1"
                  type="radio"
                  name="camera_rating"
                  value="1"
                />
                {% endif %}
                <label for="camera_rating_1"><i class="fas fa-star"></i></label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-border feature-ratings-border"></div>
        <div class="form-group">
          <label for="review_title"
            ><h4 class="form-subheadings">Review Title</h4></label
          >
          <input
            type="text"
            class="form-control"
            id="review_title"
            name="review_title"
            value="{{review.review_title}}"
            aria-describedby="review_title"
            required
          />
        </div>
        <div class="form-group">
          <label for="review"
            ><h4 class="form-subheadings">Your Review</h4></label
          >
          <textarea
            class="form-control"
            id="review"
            name="review"
            rows="5"
            aria-describedby="review"
            required
          >
{{review.review}}</textarea
          >
        </div>
        <div class="form-group form-group-button text-center mt-4">
          <button type="submit" class="btn review-btn">Update Review</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
