<!--Content block start-->
{% extends "base.html" %}
<!--Extends base template-->
{% block content %}
<!--Main content container start-->
<section class="container-fluid px-0">
    <!--Hero image start-->
    <div class="row no-gutters">
        <div class="col hero-image">
            <div class="overlay hero-img-overlay"></div>
            <div class="jumbotron text-right text-md-center">
                <h1 class="col-12 col-lg-10 jumbotron-heading mx-auto mb-4">
                    Find reviews for the latest technology products
                </h1>
                <a class="btn btn-green" href="{{url_for('sign_up')}}" role="button">Get Started</a>
            </div>
        </div>
    </div>
    <!--Hero image end-->
    <!--Featured carousel start-->
    <div class="container content-container px-3">
        <div class="row no-gutters">
            <div class="col-12">
                <h2 class="text-center headings">Featured</h2>
                <div id="featured-products">
                    <div class="card featured-card">
                        <a href="{{url_for('review_details', product_id='5fa437c00ec6d08852adcf05')}}">
                            <img src="static/images/products/phones/iphone_12_pro.jpg" class="card-img"
                                alt="Image of iPhone 12 Pro" /></a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-transform-none">iPhone 12 Pro</h4>
                        </div>
                    </div>
                    <div class="card featured-card">
                        <a href="{{url_for('review_details', product_id='5fa5baf3ba9e52d69f473427')}}"><img
                                src="static/images/products/tablets/surface_pro_7.jpg" class="card-img"
                                alt="Image of Surface Pro 7" /></a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-transform-none">Microsoft Surface Pro 7</h4>
                        </div>
                    </div>
                    <div class="card featured-card">
                        <a href="{{url_for('review_details', product_id='5fa438800ec6d08852adcf09')}}"><img
                                src="static/images/products/accessories/apple_watch_series_6.jpg" class="card-img"
                                alt="Image of Apple Watch Series 6" /></a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-transform-none">Apple Watch Series 6</h4>
                        </div>
                    </div>
                    <div class="card featured-card">
                        <a href="{{url_for('review_details', product_id='5fac7111574ee350dcde0535')}}"><img
                                src="static/images/products/laptops/macbook-air.jpg" class="card-img"
                                alt="Image of Macbook Air" /></a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-transform-none">MacBook Air</h4>
                        </div>
                    </div>
                    <div class="card featured-card">
                        <a href="{{url_for('review_details', product_id='5fa5d1daba9e52d69f47342c')}}"><img
                                src="static/images/products/phones/samsung_galaxy_s20_plus.jpg" class="card-img"
                                alt="Image of Samsung Galaxy S20 Plus" /></a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-transform-none">Samsung Galaxy S20 Plus</h4>
                        </div>
                    </div>
                    <div class="card featured-card">
                        <a href="{{url_for('review_details', product_id='5fac76dd574ee350dcde053b')}}"><img
                                src="static/images/products/accessories/google-nest.jpg" class="card-img"
                                alt="Image of Google Nest Mini" /></a>
                        <div class="card-body text-center">
                            <h4 class="card-title text-transform-none">Google Nest Mini</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Featured carousel end-->
    <!--Newsletter sign up start-->
    <div class="wrapper-grey">
        <div class="container content-container">
            <div class="row no-gutters">
                <div class="col-12 my-5">
                    <div class="text-center headings newsletter-heading">
                        <i class="fas fa-paper-plane mb-4"></i>
                        <h2 class="mb-4">Subscribe to our newsletter!</h2>
                    </div>
                    <div class="col-12 col-lg-10 col-xl-8 mx-auto mb-4">
                        <form id="newsletter-sign-up">
                            <div class="form-row no-gutters">
                                <div class="col-12 col-md-9 mb-4 mb-md-0">
                                    <input type="email" class="form-control no-box-shadow h-100" name="email"
                                        placeholder="Enter your email" required aria-label="email" />
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="button" class="btn btn-green no-box-shadow w-100">Sign
                                        Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Newsletter sign up end-->
</section>
<!--Main content container end-->
{% endblock %}
<!--Content block end-->
<!--Postload JS block start-->
{% block postloadjs %}
<!--Import slick.min.js script-->
<script src="/static/js/slick.min.js"></script>
<!--Import index.js script-->
<script src="/static/js/index.js"></script>
{% endblock %}
<!--Postload JS block end-->