{% extends "base.html" %} {% block content %}
<section class="container content-container-top">
  <div class="row no-gutters">
    <div class="col-12 py-3">
      <a id="current-search" href="{{url_for('reviews', category=product[0].category)}}"
        ><i class="fas fa-chevron-left pr-2"></i>Back to {{product[0].category.capitalize()}}</a
      >
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 col-lg-6 pr-lg-5">
      <img class="product-img" src="{{product[0].image_url}}" alt="" />
    </div>
    <div class="col-12 col-lg-6 pr-lg-5 features">
      <h2 class="subheadings product-headings">{{product[0].name}}</h2>
      <table class="table table-borderless features-table mb-0">
        <tbody>
          {% if product[0].colours %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">Colours</th>
            <td class="p-0 pb-3">{{product[0].colours}}</td>
          </tr>
          {% endif %} {% if product[0].price %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">Price</th>
            <td class="p-0 pb-3">From £{{product[0].price}}</td>
          </tr>
          {% endif %} {% if product[0].display %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">Display</th>
            <td class="p-0 pb-3">{{product[0].display}}</td>
          </tr>
          {% endif %} {% if product[0].processor_memory_graphics %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">
              Processor, Memory and Graphics
            </th>
            <td class="p-0 pb-3">{{product[0].processor_memory_graphics}}</td>
          </tr>
          {% endif %} {% if product[0].camera_video %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">Camera and Video</th>
            <td class="p-0 pb-3">{{product[0].camera_video}}</td>
          </tr>
          {% endif %} {% if product[0].battery %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">Battery Life</th>
            <td class="p-0 pb-3">{{product[0].battery}}</td>
          </tr>
          {% endif %} {% if product[0].connectivity %}
          <tr>
            <th scope="row" class="p-0 pb-3 pr-3">Connectivity</th>
            <td class="p-0 pb-3">{{product[0].connectivity}}</td>
          </tr>
          {% endif %} {% if product[0].additional_features %}
          <tr>
            <th scope="row" class="p-0 pb-5 pr-3">Additional Features</th>
            <td class="p-0 pb-5">{{product[0].additional_features}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="wrapper-grey">
  <div class="container content-container">
    <div class="row no-gutters"></div>
    <div class="col-12">
      <h2 class="subheadings product-headings">Reviews</h2>
      <div class="row no-gutters">
        <div class="col-12 col-md-6 pr-md-4 pr-lg-0">
          <div class="row no-gutters progress-bars">
            <div class="col-12 col-lg-3">
              <p class="mb-2">Overall Rating</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].overall_rating }} * 20%)"
                  aria-valuenow="calc({{ product[0].overall_rating }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <p class="mb-2">Performance</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].performance_rating  }} * 20%)"
                  aria-valuenow="calc({{ product[0].performance_rating  }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <p class="mb-2">Battery Life</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].battery_rating }} * 20%)"
                  aria-valuenow="calc({{ product[0].battery_rating }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <p class="mb-2">Screen</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].quality_rating }} * 20%)"
                  aria-valuenow="calc({{ product[0].quality_rating }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <p class="mb-2">Camera</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].price_rating }} * 20%)"
                  aria-valuenow="calc({{ product[0].price_rating }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <hr class="d-md-none" />
        </div>
        <div class="col-12 col-md-6 pl-md-4 pl-lg-0">
          <div class="row no-gutters progress-bars">
            <div class="col-12 col-lg-2 offset-lg-1">
              <p class="mb-2">5 Stars</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].five_stars }} * 20%)"
                  aria-valuenow="calc({{ product[0].five_stars }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-2 offset-lg-1">
              <p class="mb-2">4 Stars</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].four_stars }} * 20%)"
                  aria-valuenow="calc({{ product[0].four_stars }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-2 offset-lg-1">
              <p class="mb-2">3 Stars</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].three_stars }} * 20%)"
                  aria-valuenow="{{ product[0].three_stars }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-2 offset-lg-1">
              <p class="mb-2">2 Stars</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].two_stars }} * 20%)"
                  aria-valuenow="calc({{ product[0].two_stars }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-lg-2 offset-lg-1">
              <p class="mb-2">1 Star</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ product[0].one_star }} * 20%)"
                  aria-valuenow="calc({{ product[0].one_star }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if session.user.email %}
      <div class="row no-gutters">
        <div class="col-12 add-review">
          <a
            class="btn btn-sm btn-green"
            href="{{url_for('add_review', product_id=product[0]._id)}}"
            >Add Review</a
          >
        </div>
      </div>
      {% endif %} {% for review in reviews %} {% if loop.index < reviews|length %}
      <div class="card review-card">
        <div class="card-body">
          <div class="d-block d-md-inline-block">
            <h3 class="mb-2">{{review.review_title}}</h3>
          </div>
          <div class="d-inline-block mb-2">
            {% if review.overall_rating == 1 %}
            <i class="fas fa-star yellow-star ml-1"></i>
            {% elif review.overall_rating == 2 %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star"></i>
            {% elif review.overall_rating == 3 %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star"></i>
            {% elif review.overall_rating == 4 %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star"></i>
            {% else %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas yellow-star fa-star"></i> {% endif %}
          </div>
          {% if session.user|lower == review.created_by|lower %}
          <div class="float-right">
            <a
              class="btn btn-review"
              href="{{url_for('edit_review', review_id=review._id)}}"
              ><i class="far fa-edit"></i
            ></a>
            <a
              class="btn btn-review"
              href="{{url_for('delete_review', review_id=review._id)}}"
              ><i class="fas fa-trash"></i
            ></a>
          </div>
          {% endif %}
          <p class="mb-2 text-justify">{{ review.review }}</p>
          <small
            >Reviewed by {{review.created_by}} on {{dates[loop.index
            -1]}}</small
          >
        </div>
      </div> 
      {% else %} 
      <div class="card review-card mb-0">
        <div class="card-body">
          <div class="d-block d-md-inline-block">
            <h4 class="mb-2">{{review.review_title}}</h4>
          </div>
          <div class="d-inline-block mb-2">
            {% if review.overall_rating == 1 %}
            <i class="fas fa-star yellow-star ml-1"></i>
            {% elif review.overall_rating == 2 %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star"></i>
            {% elif review.overall_rating == 3 %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star"></i>
            {% elif review.overall_rating == 4 %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star"></i>
            {% else %}
            <i class="fas fa-star yellow-star mx-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas fa-star yellow-star mr-1"></i
            ><i class="fas yellow-star fa-star"></i> {% endif %}
          </div>
          {% if current_user == review.created_by %}
          <div class="float-right">
            <a
              class="btn btn-review"
              href="{{url_for('edit_review', review_id=review._id)}}"
              ><i class="far fa-edit"></i
            ></a>
            <a
              class="btn btn-review"
              href="{{url_for('delete_review', review_id=review._id)}}"
              ><i class="fas fa-trash"></i
            ></a>
          </div>
          {% endif %}
          <p class="mb-2 text-justify">{{ review.review }}</p>
          <small
            >Reviewed by {{review.created_by}} on {{dates[loop.index
            -1]}}</small
          >
        </div>
      </div> 
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
{% block postloadjs %}
<script>
$(document).ready(function() {
    if (localStorage.getItem('search') !== null) {
        let html = localStorage.getItem('search') 
        let url = localStorage.getItem('search_url')
        $('#current-search').html('<i class="fas fa-chevron-left pr-2"></i>Back to ' + html).attr('href', url);
        localStorage.setItem('product', $('h2').html())
    }
})
</script>
{% endblock %}