{% extends "base.html" %} {% block content %}
<section>
  <div class="container-fluid no-gutters px-0">
    <div class="row">
      <div
        class="col-12 review-img"
        style="background-image: url('{{product[0].hero_image_url}}')"
      >
        <div class="overlay"></div>
        <h1 class="text-center review-heading mb-0">{{page_title}}</h1>
      </div>
    </div>
  </div>
  <div class="container content-container">
    <div class="row no-gutters">
      <div class="col-12">
        <h2 class="subheadings">Features</h2>
        <table class="table table-borderless features-table mb-0">
          <tbody>
            {% for feature in product[0].features %} {% if loop.index <
            product[0].features|length %}
            <tr>
              <th scope="row" class="px-0 pt-0 pb-4">{{feature}}</th>
              <td class="px-0 pt-0 pb-4">{{product[0].features[feature]}}</td>
            </tr>
            {% else %}
            <tr>
              <th scope="row" class="px-0 pt-0 pb-0">{{feature}}</th>
              <td class="px-0 pt-0 pb-0">{{product[0].features[feature]}}</td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="wrapper-grey">
    <div class="container content-container">
      <div class="row no-gutters">
        <div class="col-12">
          <h2 class="subheadings">Reviews</h2>
          <div class="row no-gutters mb-4">
            <div class="col-12 col-md-4 col-lg-3">
              <p class="ratings-text">Overall Rating</p>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ ratings[0] }} * 20%)"
                  aria-valuenow="calc({{ ratings[0] }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <p class="ratings-text">Performance</p>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ ratings[1] }} * 20%)"
                  aria-valuenow="calc({{ ratings[1] }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <p class="ratings-text">Battery Life</p>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ ratings[2] }} * 20%)"
                  aria-valuenow="calc({{ ratings[2] }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <p class="ratings-text">Screen</p>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ ratings[3] }} * 20%)"
                  aria-valuenow="calc({{ ratings[3] }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <p class="ratings-text">Camera</p>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: calc({{ ratings[4] }} * 20%)"
                  aria-valuenow="calc({{ ratings[4] }} * 20)"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          {% for review in reviews %} {% if loop.index < reviews|length %}
          <div class="card review-card mb-4">
            <div class="card-body">
              <h3 class="mb-4">
                {{review.review_title}} {% if review.overall_rating == 1 %}
                <i class="fas fa-star yellow-star mx-3"></i>
                {% elif review.overall_rating == 2 %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i>
                {% elif review.overall_rating == 3 %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i>
                {% elif review.overall_rating == 4 %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i>
                {% else %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas yellow-star fa-star"></i>
                {% endif %} {% if session.user|lower == review.created_by|lower
                %}
                <div class="review-buttons">
                  <a
                    class="btn"
                    href="{{url_for('edit_review', review_id=review._id)}}"
                    ><i class="far fa-edit"></i
                  ></a>
                  <a
                    class="btn"
                    href="{{url_for('delete_review', review_id=review._id)}}"
                    ><i class="fas fa-trash"></i
                  ></a>
                </div>
                {% endif %}
              </h3>
              <p>{{ review.review }}</p>
              <p class="mb-0"><em>Reviewed By: {{review.created_by}}</em></p>
            </div>
          </div>
          {% else %}
          <div class="card review-card">
            <div class="card-body">
              <h3 class="mb-4">
                {{review.review_title}} {% if review.overall_rating == 1 %}
                <i class="fas fa-star yellow-star mx-3"></i>
                {% elif review.overall_rating == 2 %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i>
                {% elif review.overall_rating == 3 %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i>
                {% elif review.overall_rating == 4 %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i>
                {% else %}
                <i class="fas fa-star yellow-star mx-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas fa-star yellow-star mr-3"></i
                ><i class="fas yellow-star fa-star"></i>
                {% endif %} {% if session.user|lower == review.created_by|lower
                %}
                <div class="review-buttons">
                  <a
                    class="btn"
                    href="{{url_for('edit_review', review_id=review._id)}}"
                    ><i class="far fa-edit"></i
                  ></a>
                  <a
                    class="btn"
                    href="{{url_for('delete_review', review_id=review._id)}}"
                    ><i class="fas fa-trash"></i
                  ></a>
                </div>
                {% endif %}
              </h3>
              <p>{{ review.review }}</p>
              <p class="mb-0"><em>Reviewed By: {{review.created_by}}</em></p>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <div class="row no-gutters">
          <div class="col-12 text-center mt-4">
            <a class="btn btn-green" href="#">Add Review</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
