{% extends "base.html" %} {% block content %}
<section>
  <div class="container content-container">
    <div class="row no-gutters">
      <div class="col-12">
        <h1 class="text-center headings">{{ page_title }}</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 mb-4">
        <ul id="sort" class="list-group list-group-horizontal float-right">
          <li class="list-group-item p-0">
            {% if request.args.get("sort") %} {% if request.args.get("sort") ==
            "a-to-z" %}
            <button
              class="btn btn-sm btn-secondary sort-active"
              value="a-to-z"
              role="button"
            >
              <i class="fas fa-sort-alpha-down"></i>
            </button>
            {% else %}
            <button
              class="btn btn-sm btn-secondary"
              value="a-to-z"
              role="button"
            >
              <i class="fas fa-sort-alpha-down"></i>
            </button>
            {% endif %} {% else %}
            <button
              class="btn btn-sm btn-secondary sort-active"
              value="a-to-z"
              role="button"
            >
              <i class="fas fa-sort-alpha-down"></i>
            </button>
            {% endif %}
          </li>
          <li class="list-group-item p-0">
            {% if request.args.get("sort") == "z-to-a" %}
            <button
              class="btn btn-sm btn-secondary sort-active"
              value="z-to-a"
              role="button"
            >
              <i class="fas fa-sort-alpha-up"></i>
            </button>
            {% else %}
            <button
              class="btn btn-sm btn-secondary"
              value="z-to-a"
              role="button"
            >
              <i class="fas fa-sort-alpha-up"></i>
            </button>
            {% endif %}
          </li>
          <li class="list-group-item p-0">
            {% if request.args.get("sort") == "date-added" %}
            <button
              class="btn btn-sm btn-secondary sort-active"
              value="date-added"
              role="button"
            >
              <i class="fas fa-calendar-alt"></i>
            </button>
            {% else %}
            <button
              class="btn btn-sm btn-secondary"
              value="date-added"
              role="button"
            >
              <i class="fas fa-calendar-alt"></i>
            </button>
            {% endif %}
          </li>
          <li class="list-group-item p-0">
            {% if request.args.get("sort") == "price" %}
            <button
              class="btn btn-sm btn-secondary sort-active"
              value="price"
              role="button"
            >
              <i class="fas fa-pound-sign"></i>
            </button>
            {% else %}
            <button
              class="btn btn-sm btn-secondary"
              value="price"
              role="button"
            >
              <i class="fas fa-pound-sign"></i>
            </button>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-lg-3">
        <div class="content-container py-0">
          {% if page_title.lower() == "phones" %} {% include
          'includes/phones.html' %} {% elif page_title.lower() == "tablets" %}
          {% include 'includes/tablets.html' %} {% elif page_title.lower() ==
          "laptops" %} {% include 'includes/laptops.html' %} {% elif
          page_title.lower() == "accessories" %} {% include
          'includes/accessories.html' %} {% else %} {% include
          'includes/search.html' %} {% endif %}
          <button id="filter" class="btn btn-sm btn-green w-100 mb-4">
            Apply
          </button>
          <button
            id="clear-filters"
            class="btn btn-sm btn-green w-100"
            role="button"
          >
            Clear filters
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        {% for product in products %} {% if loop.index != products|length %}
        <div class="row no-gutters border-bottom">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="media">
              <img
                src="{{product.image_url}}"
                alt="{{product.image_alt}}"
                class="product-images rounded-circle mx-auto mt-4 mb-4"
              />
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-9 align-self-center mb-4 mb-md-0">
            <div class="media-body">
              <h3 class="mb-3 text-center text-md-left">
                <a href="{{url_for('review', product_url=product.url)}}"
                  >{{product.name}}</a
                >
              </h3>
              {{product.description}}
            </div>
          </div>
        </div>
        {% else %}
        <div class="row no-gutters">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="media">
              <img
                src="{{product.image_url}}"
                alt="{{product.image_alt}}"
                class="product-images rounded-circle mx-auto mt-4 mb-4"
              />
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-9 align-self-center mb-4 mb-md-0">
            <div class="media-body">
              <h3 class="mb-3 text-center text-md-left">
                <a href="{{url_for('review', product_url=product.url)}}"
                  >{{product.name}}</a
                >
              </h3>
              {{product.description}}
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-md-8 offset-md-4">{{ pagination.links }}</div>
    </div>
  </div>
</section>
{% endblock %} {% block postloadjs %}
<script src="{{url_for('static', filename='js/sort-by.js')}}"></script>
{% endblock %}
