{% extends "base.html" %} {% block content %}
<section>
  <div class="container content-container">
    <div class="row no-gutters">
      <div class="col-12">
        <h1 class="text-center headings">{{ page_title }}</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <form action="{{ url_for('reviews') }}" method="GET">
          <div class="form-row no-gutters">
            <div class="col-12 col-md-8 col-xl-9 mb-4">
              <input
                type="text"
                class="form-control newsletter-signup h-100"
                id="search"
                name="search"
                placeholder="Enter a product"
                aria-describedby="search"
              />
            </div>
            <div class="col-12 col-md-4 col-xl-3 mb-4">
              <button type="submit" class="btn btn-green w-100">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-md-10 mx-auto mb-4">
        <a
          class="btn btn-sm btn-secondary"
          href="{{url_for('sort_by', criteria='a-to-z')}}"
          role="button"
        >
          <i class="fas fa-sort-alpha-down"></i>
        </a>
        <a
          class="btn btn-sm btn-secondary"
          href="{{url_for('sort_by', criteria='z-to-a')}}"
          role="button"
        >
          <i class="fas fa-sort-alpha-up"></i>
        </a>
        <a
          class="btn btn-sm btn-secondary"
          href="{{url_for('sort_by', criteria='date-added')}}"
          role="button"
        >
          <i class="far fa-calendar-alt"></i>
        </a>
        <a
          class="btn btn-sm btn-secondary"
          href="{{url_for('sort_by', criteria='price')}}"
          role="button"
        >
          <i class="fas fa-pound-sign"></i>
        </a>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 col-lg-3">
        <div class="content-container py-0">
          <div class="form-group mb-4">
            <h3 class="text-capitalize mb-3">Brand</h3>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "amazon" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand1"
                value="amazon"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand1"
                value="amazon"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand1">Amazon</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "apple" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand2"
                value="apple"
                name="brands"
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand2"
                value="apple"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand2">Apple</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "dell" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand3"
                value="dell"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand3"
                value="dell"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand3">Dell</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "google" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand4"
                value="google"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand4"
                value="google"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand4">Google</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "hp" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand5"
                value="hp"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand5"
                value="hp"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand5"
                >Hewlett Packard</label
              >
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "microsoft" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand6"
                value="microsoft"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand6"
                value="microsoft"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand6">Microsoft</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "oneplus" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand6"
                value="oneplus"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand6"
                value="oneplus"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand6">OnePlus</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
              {% if selected_brands %}{% if "samsung" in selected_brands %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand7"
                value="samsung"
                name="brands"
                checked
              />
              {% endif %}{% else %}
              <input
                type="checkbox"
                class="custom-control-input"
                id="brand7"
                value="samsung"
                name="brands"
              />
              {% endif %}
              <label class="custom-control-label" for="brand7">Samsung</label>
            </div>
          </div>
          <div class="form-group mb-4">
            <h3 class="text-capitalize mb-3">Prices</h3>
            <div class="custom-control custom-radio mb-2">
              {% if selected_price %}{% if selected_price == 1 %}
              <input
                type="radio"
                class="custom-control-input"
                id="price1"
                value="1"
                name="price"
                checked
              />
              {% endif %}{% endif %}
              <input
                type="radio"
                class="custom-control-input"
                id="price1"
                value="1"
                name="price"
              />
              <label class="custom-control-label" for="price1"
                >Under £250</label
              >
            </div>
            <div class="custom-control custom-radio mb-2">
              {% if selected_price %}{% if selected_price == 2 %}
              <input
                type="radio"
                class="custom-control-input"
                id="price2"
                value="2"
                name="price"
                checked
              />
              {% endif %}{% endif %}<input
                type="radio"
                class="custom-control-input"
                id="price2"
                value="1"
                name="price"
              />
              <label class="custom-control-label" for="price2"
                >£250 - £500</label
              >
            </div>
            <div class="custom-control custom-radio mb-2">
              {% if selected_price %}{% if selected_price == 3 %}
              <input
                type="radio"
                class="custom-control-input"
                id="price3"
                value="3"
                name="price"
                checked
              />
              {% endif %}{% endif %}<input
                type="radio"
                class="custom-control-input"
                id="price3"
                value="3"
                name="price"
              />
              <label class="custom-control-label" for="price3"
                >£500 - £750</label
              >
            </div>
            <div class="custom-control custom-radio mb-2">
              {% if selected_price %}{% if selected_price == 4 %}
              <input
                type="radio"
                class="custom-control-input"
                id="price4"
                value="4"
                name="price"
                checked
              />
              {% endif %}{% endif %}
              <input
                type="radio"
                class="custom-control-input"
                id="price4"
                value="4"
                name="price"
              />
              <label class="custom-control-label" for="price4"
                >£750 - £1000</label
              >
            </div>
            <div class="custom-control custom-radio mb-2">
              {% if selected_price %}{% if selected_price == 5 %}
              <input
                type="radio"
                class="custom-control-input"
                id="price5"
                value="5"
                name="price"
                checked
              />
              {% endif %}{% endif %}<input
                type="radio"
                class="custom-control-input"
                id="price5"
                value="5"
                name="price"
              />
              <label class="custom-control-label" for="price5"
                >Over £1000</label
              >
            </div>
          </div>
          <button id="filter" class="btn btn-sm btn-green w-100 mb-4">
            Apply
          </button>
          <button
            id="clear-filters"
            class="btn btn-sm btn-green w-100"
            role="button"
          >
            Clear filters
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        {% for product in products %} {% if loop.index != products|length %}
        <div class="row no-gutters border-bottom">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="media">
              <img
                src="{{product.image_url}}"
                alt="{{product.image_alt}}"
                class="product-images rounded-circle mx-auto mt-4 mb-4"
              />
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-9 align-self-center mb-4 mb-md-0">
            <div class="media-body">
              <h3 class="mb-3 text-center text-md-left">
                <a href="{{url_for('review', product_url=product.url)}}"
                  >{{product.name}}</a
                >
              </h3>
              {{product.description}}
            </div>
          </div>
        </div>
        {% else %}
        <div class="row no-gutters">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="media">
              <img
                src="{{product.image_url}}"
                alt="{{product.image_alt}}"
                class="product-images rounded-circle mx-auto mt-4 mb-4"
              />
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-9 align-self-center mb-4 mb-md-0">
            <div class="media-body">
              <h3 class="mb-3 text-center text-md-left">
                <a href="{{url_for('review', product_url=product.url)}}"
                  >{{product.name}}</a
                >
              </h3>
              {{product.description}}
            </div>
          </div>
        </div>
        {% endif %} {% endfor %} {{ pagination.links }}
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block postloadjs %}
<script src="{{url_for('static', filename='js/sort-by.js')}}"></script>
{% endblock %}
