<!--Content block start-->
{% extends "base.html" %} {% block content %}
<!--Main content container start-->
<section class="container-fluid content-container-top d-flex px-0 pb-0">
    <div class="row no-gutters">
        <!--Filters fidebar start-->
        <form class="d-none d-md-block col-md-3 wrapper-grey p-4">
            <!--Filters form start-->
            <!--Includes the relevant filters form. Code is from
                    https://stackoverflow.com/questions/22860085/
                    how-do-i-include-a-html-file-in-a-jinja2-template-->
            {% if page_title == "Reviews" %}
            {% include 'includes/search_filters.html' %}
            {% else %}
            {% include 'includes/category_filters.html' %}
            {% endif %}
            <!--Apply button start-->
            <button class="btn btn-sm btn-green filter w-100 mt-3" role="button">Apply</button>
            <!--Apply button end-->
            <!--Reset button start-->
            <button class="btn btn-sm btn-green clear-filters w-100 mt-3" role="button">
                Reset
            </button>
            <!--Rest button end-->
            <!--Filters form end-->
        </form>
        <!--Filters sidebar end-->
        <!--Main content column start-->
        <div class="col-12 col-md-9">
            <div class="row no-gutters content-container">
                <!--Page heading start-->
                <div class="col-12">
                    <h1 class="text-center text-md-left headings">
                        {{ page_title }}
                    </h1>
                </div>
                <!--Page heading end-->
                <!--Filters and results sort start (mobiles)-->
                <div class="col-12 d-md-none">
                    <!--Filters button start-->
                    <button class="btn btn-sm btn-green filters no-box-shadow" data-toggle="modal"
                        data-target="#filtersModal">
                        <i class="fas fa-filter pr-1"></i>Filters
                    </button>
                    <!--Filters button end-->
                    <!--Filters modal start. Code is from https://getbootstrap.com/docs/5.0/components/modal/-->
                    <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Filters</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--Filters form start-->
                                    <form>
                                        <!--Includes the relevant filters form. Code is from https://stackoverflow.com/questions/22860085/how-do-i-include-a-html-file-in-a-jinja2-template-->
                                        {% if page_title == "Reviews" %}
                                        {% include 'includes/search_filters_mobile.html' %}
                                        {% else %}
                                        {% include 'includes/category_filters_mobile.html' %}
                                        {% endif %}
                                    </form>
                                    <!--Filters form end-->
                                </div>
                                <div class="modal-footer">
                                    <!--Reset button start-->
                                    <button type="button"
                                        class="btn btn-sm btn-outline no-box-shadow clear-filters">Reset</button>
                                    <!--Reset button end-->
                                    <!--Apply button start-->
                                    <button type="button"
                                        class="btn btn-sm btn-green no-box-shadow filter">Apply</button>
                                    <!--Apply button end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Filters modal end-->
                    <!--Results sort by dropdown start. Code is from https://getbootstrap.com/docs/5.0/components/dropdowns/-->
                    <div class="dropdown w-auto float-right">
                        <button class="btn btn-sm btn-outline sort-by dropdown-toggle no-box-shadow" type="button"
                            id="mobile-sort-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by:
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mobile-sort-by">
                            <button class="dropdown-item" type="button" value="featured">Featured </button>
                            <button class="dropdown-item" type="button" value="date-added">Date Added</button>
                            <button class="dropdown-item" type="button" value="price-asc">Price (Low - High)</button>
                            <button class="dropdown-item" type="button" value="price-desc">Price (High - Low)</button>
                            <button class="dropdown-item" type="button" value="rating">Average Rating</button>
                        </div>
                    </div>
                    <!--Results sort dropdown end-->
                </div>
                <!--Filters and results sort end (mobiles)-->
                <!--Search results info start (mobiles)-->
                {% if products %}
                <div class="col-12 d-md-none">
                    <p class="my-4">
                        {{ pagination_info }}
                    </p>
                </div>
                {% endif %}
                <!--Search results info end (mobiles)-->
                <!--Search results info and results sort by start (medium sized screens and above)-->
                <div class="col-12 d-none d-md-block">
                    <!--Search results info start (medium sized screens and above)-->
                    {% if products %}
                    <p class="w-lg-50 d-inline-block my-2">
                        {{ pagination_info }}
                    </p>
                    {% endif %}
                    <!--Search results info start (medium sized screens and above)-->
                    <!--Results sort by dropdown start. Code is from https://getbootstrap.com/docs/5.0/components/dropdowns/-->
                    <div class="dropdown w-auto float-right">
                        <button class="btn btn-sm btn-outline sort-by dropdown-toggle no-box-shadow" type="button"
                            id="sort-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by:
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sort-by">
                            <button class="dropdown-item" type="button" value="featured">Featured </button>
                            <button class="dropdown-item" type="button" value="date-added">Date Added</button>
                            <button class="dropdown-item" type="button" value="price-asc">Price (Low - High)</button>
                            <button class="dropdown-item" type="button" value="price-desc">Price (High - Low)</button>
                            <button class="dropdown-item" type="button" value="rating">Average Rating</button>
                        </div>
                    </div>
                    <!--Results sort by dropdown end-->
                </div>
                <!--Search results info and results sort by end (medium sized screens and above)-->
                <!--Search results start-->
                <div class="col-12">
                    <div class="row">
                        <!--Products Start-->
                        {% if products %}
                        {% for product in products %}
                        <!--Product start-->
                        <div class="col-6 col-lg-4">
                            <div class="card border-0">
                                <a href="{{url_for('review_details', product_id=product._id)}}">
                                    <img class="card-img review-img" src="{{product.image_url}}"
                                        alt="{{product.image_alt}}" />
                                </a>
                                <div class="card-body pb-0 px-0">
                                    <h4 class="card-title reviews-headings mb-2 text-transform-none">
                                        {{product.name}}
                                    </h4>
                                    <p class="card-text mb-2">£{{ product.price }}</p>
                                    {% if product.overall_rating %}
                                    <small class="text-muted"><i
                                            class="fas fa-star mr-1"></i>{{ product.overall_rating }}
                                        / 5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--Product end-->
                        <!--Divider start (mobiles)-->
                        {% if loop.index < products|length%} {% if loop.index %2 == 0 %}
                        <div class="col-12 d-lg-none">
                            <hr class="my-4" />
                        </div>
                        {% endif %}
                        <!--Divider end (mobiles)-->
                        {% if loop.index %3 == 0 %}
                        <!--Divider start (medium sized screens and above)-->
                        <div class="col-12 d-none d-lg-block">
                            <hr class="my-4" />
                        </div>
                        {% endif %}
                        <!--Divider end (medium sized screens and above)-->
                        {% endif%} {% endfor %}
                        <!--Products end-->
                        <!--No results found start-->
                        {% else %}
                        <div class="col-12 text-center mt-5">
                            <h4 class="text-transform-none">No results found for "{{request.args.get("search")}}"
                            </h4>
                            <p>Check the spelling or try a more general search term.
                            </p>
                        </div>
                        {% endif %}
                        <!--No results found end-->
                    </div>
                </div>
                <!--Search results end-->
                <!--Pagination start. Code is from https://pythonhosted.org/Flask-paginate/-->
                <div class="col-12 mt-4">{{ pagination.links }}</div>
                <!--Pagination end-->
            </div>
        </div>
        <!--Main content column end-->
    </div>
</section>
<!--Main container end-->
{% endblock %}
<!--Content block end-->
<!--Postload JS block start-->
{% block postloadjs %}
<!--Import sort-by.js script-->
<script src="{{url_for('static', filename='js/sort-by.js')}}"></script>
{% endblock %}
<!--Postload JS block end-->