<!--Extends base template-->
{% extends "base.html" %}
<!--Content block start-->
{% block content %}
<!--Main content container start-->
<section class="container-fluid px-0">
    <!--Product details container start-->
    <div class="container content-container-top">
        <!--Back to search start-->
        <div class="row no-gutters">
            <div class="col-12 py-3">
                <a id="current-search" href="{{url_for('reviews', category=product.category)}}">
                    <!--Chevron left icon code is from https://fontawesome.com/icons/chevron-left?style=solid-->
                    <i class="fas fa-chevron-left pr-2"></i>Back to {{product.category.capitalize()}}
                </a>
            </div>
        </div>
        <!--Back to search end-->
        <!--Product image and specs start-->
        <div class="row no-gutters">
            <!--Product image start-->
            <div class="col-12 col-lg-6 pr-lg-5">
                <img class="card-img product-img" src="{{product.image_url}}" alt="{{product.image_alt}}" />
            </div>
            <!--Product image end-->
            <div class="col-12 col-lg-6 pr-lg-5 product-details">
                <!--Product name heading-->
                <h1 class="heading-3 headings ">{{product.name}}</h1>
                <!--Product specs table start. Table styling code is from https://getbootstrap.com/docs/4.5/content/tables/-->
                <table class="table table-borderless mb-0">
                    <tbody>
                        {% if product.colours %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Colours</th>
                            <td class="p-0 pb-3">{{product.colours}}</td>
                        </tr>
                        {% endif %} {% if product.price %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Price</th>
                            <td class="p-0 pb-3">From £{{product.price}}</td>
                        </tr>
                        {% endif %} {% if product.display %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Display</th>
                            <td class="p-0 pb-3">{{product.display}}</td>
                        </tr>
                        {% endif %} {% if product.processor_memory_graphics %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">
                                Processor, Memory and Graphics
                            </th>
                            <td class="p-0 pb-3">{{product.processor_memory_graphics}}</td>
                        </tr>
                        {% endif %} {% if product.camera_video %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Camera and Video</th>
                            <td class="p-0 pb-3">{{product.camera_video}}</td>
                        </tr>
                        {% endif %} {% if product.battery %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Battery Life</th>
                            <td class="p-0 pb-3">{{product.battery}}</td>
                        </tr>
                        {% endif %} {% if product.connectivity %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Connectivity</th>
                            <td class="p-0 pb-3">{{product.connectivity}}</td>
                        </tr>
                        {% endif %} {% if product.additional_features %}
                        <tr>
                            <th scope="row" class="p-0 pb-3 pr-3">Additional Features</th>
                            <td class="p-0 pb-3">{{product.additional_features}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <!--Product specs table end-->
            </div>
        </div>
        <!--Product image and specs end-->
    </div>
    <!--Product details container end-->
    <!--Ratings and reviews container start-->
    <div class="wrapper-grey">
        <div class="container content-container">
            <!--Ratings and reviews heading start-->
            <div class="row no-gutters">
                <div class="col-12">
                    <h1 class="heading-3 headings">Ratings & Reviews</h1>
                </div>
            </div>
            <!--Ratings and reviews heading end-->
            <!--Ratings progress bars start-->
            <div class="row no-gutters">
                <!--Feature ratings progress bars start. Code is from https://bootswatch.com/lux/-->
                <div class="col-12 col-md-6 pr-md-4 pr-lg-0">
                    <div class="row no-gutters progress-bars">
                        <div class="col-12 col-lg-3">
                            <p class="mb-2">Overall Rating</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ ratings.overall_rating }}%"
                                    aria-valuenow="{{ ratings.overall_rating }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <p class="mb-2">Performance</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ ratings.performance_rating }}%"
                                    aria-valuenow="{{ ratings.performance_rating }}" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <p class="mb-2">Quality</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ ratings.quality_rating }}%"
                                    aria-valuenow="{{ ratings.quality_rating }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <p class="mb-2">Ease of Use</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: {{ ratings.usability_rating}}%"
                                    aria-valuenow="{{ ratings.usability_rating}}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <p class="mb-2 mb-lg-0">Value for Money</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ ratings.price_rating }}%"
                                    aria-valuenow="{{ ratings.price_rating }}" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-md-none ratings-divider" />
                </div>
                <!--Feature ratings progress bars end-->
                <!--Star ratings progress bars start. Code is from https://bootswatch.com/lux/-->
                <div class="col-12 col-md-6 pl-md-4 pl-lg-0">
                    <div class="row no-gutters progress-bars">
                        <div class="col-12 col-lg-2 offset-lg-1">
                            <p class="mb-2">5 Stars</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ ratings.five_stars }}%"
                                    aria-valuenow="{{ ratings.five_stars }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 offset-lg-1">
                            <p class="mb-2">4 Stars</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ ratings.four_stars }}%"
                                    aria-valuenow="{{ ratings.four_stars }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 offset-lg-1">
                            <p class="mb-2">3 Stars</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ ratings.three_stars }}%"
                                    aria-valuenow="{{ ratings.three_stars }}" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 offset-lg-1">
                            <p class="mb-2">2 Stars</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ ratings.two_stars }}%"
                                    aria-valuenow="{{ ratings.two_stars }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 offset-lg-1">
                            <p class="mb-2 mb-lg-0">1 Star</p>
                        </div>
                        <div class="col-12 col-lg-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ ratings.one_star }}%"
                                    aria-valuenow="{{ ratings.one_star }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Feature ratings progress bars end-->
            </div>
            <!--Ratings progress bars end-->
            <!--Add review button start-->
            {% if session.user %}
            <div class="row no-gutters">
                <div class="col-12 add-review">
                    <!--Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://stackoverflow.com/questions/15974730/how-do-i-get-the-different-parts-of-a-flask-requests-url-->
                    <a class="btn btn-sm btn-green no-box-shadow"
                        href="{{url_for('add_review', product_id=product._id, next=request.url)}}">
                        Add Review
                    </a>
                </div>
            </div>
            {% endif %}
            <!--Add review button end-->
            <!--Section divider-->
            <hr class="mb-4 mt-0">
            <!--Review cards start-->
            <div class="row no-gutters">
                <div class="col-12">
                    <!--Not last review card start-->
                    {% for review in reviews %}
                    {% if loop.index < reviews|length %}
                    <div class="card review-card border-0">
                        <div class="card-body p-0">
                            <h2 class="card-title text-transform-none">
                                <!--Edit and delete review buttons start-->
                                {% if current_user|lower == review.reviewed_by|lower %}
                                <div class="float-right">
                                    <!--Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://stackoverflow.com/questions/15974730/how-do-i-get-the-different-parts-of-a-flask-requests-url-->
                                    <a class="btn no-box-shadow py-0 pl-3 pr-2"
                                        href="{{url_for('edit_review', review_id=review._id, next=request.url)}}">
                                        <!--Code for edit icon is from https://fontawesome.com/icons/edit?style=solid-->
                                        <i class="far fa-edit" aria-hidden="true"></i>
                                        <span class="sr-only">Edit</span>
                                    </a>
                                    <!--Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://stackoverflow.com/questions/15974730/how-do-i-get-the-different-parts-of-a-flask-requests-url-->
                                    <a class="btn no-box-shadow py-0 px-2"
                                        href="{{url_for('delete_review', review_id=review._id, next=request.url)}}">
                                        <!--Code for trash icon is from https://fontawesome.com/icons/trash?style=solid-->
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                        <span class="sr-only">Delete</span>
                                    </a>
                                </div>
                                {% endif %}
                                <!--Edit and delete review buttons end-->
                                <!--Review title-->
                                {{review.review_title}}
                            </h2>
                            <!--Overall rating start. Code for the star icons is from https://fontawesome.com/icons/star?style=solid-->
                            <div class="mb-3">
                                {% if review.overall_rating == 1 %}
                                <i class="fas fa-star yellow-star" aria-hidden="true"></i>
                                <span class="sr-only">One Star</span>
                                {% elif review.overall_rating == 2 %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star" aria-hidden="true"></i>
                                <span class="sr-only">Two Stars</span>
                                {% elif review.overall_rating == 3 %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star" aria-hidden="true"></i>
                                <span class="sr-only">Three Stars</span>
                                {% elif review.overall_rating == 4 %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star" aria-hidden="true"></i>
                                <span class="sr-only">Four Stars</span>
                                {% else %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas yellow-star fa-star" aria-hidden="true"></i>
                                <span class="sr-only">Five Stars</span>
                                {% endif %}
                            </div>
                            <!--Overall rating end-->
                            <!--Review text-->
                            <p>{{ review.review }}</p>
                            <!--Review author and review date-->
                            <p>
                                <small>
                                    Reviewed by {{review.reviewed_by}} on {{review.date_added}}
                                </small>
                            </p>
                            <!--Upvote and downvote start-->
                            <div id="{{review._id}}" class="row no-gutters">
                                <div class="col-6 text-center mb-0">
                                    <small>
                                        <button class="btn upvote no-box-shadow py-0">
                                            <!--Thumbs up icon is from https://fontawesome.com/icons/thumbs-up?style=regular. CSS class for icon size is from https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons-->
                                            <i class="far fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                            <span class="sr-only">Thumbs up</span>
                                        </button>
                                        <span>
                                            {% if review.up_vote %}
                                            {{review.up_vote}}
                                            {% else %}0{% endif %}
                                        </span>
                                    </small>
                                </div>
                                <div class="col-6 text-center">
                                    <small>
                                        <button class="btn downvote no-box-shadow py-0">
                                            <!--Thumbs up icon is from https://fontawesome.com/icons/thumbs-down?style=regular. CSS class for icon size is from https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons-->
                                            <i class="far fa-thumbs-down fa-lg" aria-hidden="true"></i>
                                            <span class="sr-only">Thumbs down</span>
                                        </button>
                                        <span>
                                            {% if review.down_vote%}
                                            {{review.down_vote}}
                                            {% else %}0{% endif %}
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <!--Upvote and downvote end-->
                        </div>
                    </div>
                    <!--Not last review card end-->
                    <!--Card divider-->
                    <hr class="my-4">
                    <!--Last review card start-->
                    {% else %}
                    <div class="card review-card border-0 mb-4">
                        <div class="card-body p-0">
                            <h2 class="card-title text-transform-none">
                                <!--Edit and delete review buttons start-->
                                {% if current_user|lower == review.reviewed_by|lower %}
                                <div class="float-right">
                                    <!--Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://stackoverflow.com/questions/15974730/how-do-i-get-the-different-parts-of-a-flask-requests-url-->
                                    <a class="btn no-box-shadow py-0 pl-3 pr-2"
                                        href="{{url_for('edit_review', review_id=review._id, next=request.url)}}">
                                        <!--Code for edit icon is from https://fontawesome.com/icons/edit?style=solid-->
                                        <i class="far fa-edit" aria-hidden="true"></i>
                                        <span class="sr-only">Edit</span>
                                    </a>
                                    <!--Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://stackoverflow.com/questions/15974730/how-do-i-get-the-different-parts-of-a-flask-requests-url-->
                                    <a class="btn no-box-shadow py-0 px-2"
                                        href="{{url_for('delete_review', review_id=review._id, next=request.url)}}">
                                        <!--Code for trash icon is from https://fontawesome.com/icons/trash?style=solid-->
                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                        <span class="sr-only">Delete</span>
                                    </a>
                                </div>
                                {% endif %}
                                <!--Edit and delete review buttons end-->
                                <!--Review title-->
                                {{review.review_title}}
                            </h2>
                            <!--Overall rating start. Code for the star icons is from https://fontawesome.com/icons/star?style=solid-->
                            <div class="mb-3">
                                {% if review.overall_rating == 1 %}
                                <i class="fas fa-star yellow-star" aria-hidden="true"></i>
                                <span class="sr-only">One Star</span>
                                {% elif review.overall_rating == 2 %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star"></i>
                                <span class="sr-only" aria-hidden="true">Two Stars</span>
                                {% elif review.overall_rating == 3 %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i><i class="fas fa-star yellow-star"></i>
                                <span class="sr-only">Three Stars</span>
                                {% elif review.overall_rating == 4 %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star" aria-hidden="true"></i>
                                <span class="sr-only">Four Stars</span>
                                {% else %}
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas fa-star yellow-star mr-1" aria-hidden="true"></i>
                                <i class="fas yellow-star fa-star" aria-hidden="true"></i>
                                <span class="sr-only">Five Stars</span>
                                {% endif %}
                            </div>
                            <!--Overall rating end-->
                            <!--Review text-->
                            <p>{{ review.review }}</p>
                            <!--Review author and review date-->
                            <p><small>Reviewed by {{review.created_by}} on {{review.date_added}}</small></p>
                            <!--Upvote and downvote start-->
                            <div id="{{review._id}}" class="row no-gutters">
                                <div class="col-6 text-center mb-0">
                                    <small>
                                        <button class="btn no-box-shadow upvote py-0">
                                            <!--Thumbs up icon is from https://fontawesome.com/icons/thumbs-up?style=regular. CSS class for icon size is from https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons-->
                                            <i class="far fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                            <span class="sr-only">Thumbs up</span>
                                        </button>
                                        <span>
                                            {% if review.up_vote %}
                                            {{review.up_vote}}
                                            {% else %}0{% endif %}
                                        </span>
                                    </small>
                                </div>
                                <div class="col-6 text-center">
                                    <small>
                                        <button class="btn no-box-shadow downvote py-0">
                                            <!--Thumbs up icon is from https://fontawesome.com/icons/thumbs-down?style=regular. CSS class for icon size is from https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons-->
                                            <i class="far fa-thumbs-down fa-lg" aria-hidden="true"></i>
                                            <span class="sr-only">Thumbs down</span>
                                        </button>
                                        <span>
                                            {% if review.down_vote %}
                                            {{review.down_vote}}
                                            {% else %}0{% endif %}
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <!--Upvote and downvote end-->
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!--Last review card end-->
                </div>
            </div>
            <!--Review cards end-->
        </div>
    </div>
    <!--Product details container end-->
</section>
<!--Main content container end-->
{% endblock %}
<!--Content block end-->
<!--Postload JS block start-->
{% block postloadjs %}
<!--Import product-details.js script-->
<script src="{{ url_for('static', filename='js/review_details.js') }}"></script>
{% endblock %}
<!--Postload JS block end-->