<!--Extends base template-->
{% extends "base.html" %}
<!--Content block start-->
{% block content %}
<!--Main content container start-->
<section class="container d-flex align-items-center">
    <div class="row no-gutters w-100 my-5">
        <!--Sign in form column start-->
        <div class="col-12 sign-in-col mx-auto py-3 p-3 border">
            <!--Heading-->
            <h1 class="text-center heading-3 my-3">{{ page_title }}</h1>
            <!--Sign in form start. CSS Classes for form styling is from https://bootswatch.com/lux/-->
            <form method="POST" action="{{ url_for('sign_in') }}">
                <!--Email address start. Code for pattern attribute is from https://www.w3schools.com/tags/att_input_pattern.asp-->
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email"
                        pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                </div>
                <!--Email address end-->
                <!--Password start. Code for pattern attribute is from https://www.w3schools.com/tags/att_input_pattern.asp-->
                <div class="form-group mt-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}" required />
                </div>
                <!--Password end-->
                <!--Sign in button start-->
                <div class="form-group my-4 text-center">
                    <button type="submit" class="btn btn-green no-box-shadow">Sign In</button>
                </div>
                <!--Sign in button end-->
                <!--Register text and link start. Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://www.kite.com/python/answers/how-to-get-parameters-from-a-url-using-flask-in-python-->
                <p class="text-center mt-4">
                    New user?
                    <a href="{{url_for('sign_up',  next=request.args.get('next', ''))}}"><strong>Register</strong></a>.
                </p>
                <!--Register text and link end-->
                <!--Next hidden field start. Code from https://blog.tecladocode.com/handling-the-next-url-when-logging-in-with-flask/-->
                <div class="form-group d-none">
                    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
                </div>
                <!--Next hidden field end-->
            </form>
            <!--Sign in form end-->
        </div>
        <!--Sign in form column start-->
    </div>
</section>
<!--Main content container end-->
{% endblock %}
<!--Content block end-->