<!--Extends base template-->
{% extends "base.html" %}
<!--Content block start-->
{% block content %}
<!--Main content container start-->
<section class="container-fluid content-container px-0 pt-0">
    <div class="row no-gutters">
        <!--Image start-->
        <div class="d-none d-lg-block col-lg-4">
            <div class="sign-up-image"></div>
        </div>
        <!--Image end-->
        <!-- Form column start -->
        <div class="col col-lg-8">
            <div class="container content-container">
                <!-- Heading start -->
                <div class="row no-gutters">
                    <div class="col-12">
                        <h1 class="text-center heading-1 headings">{{ page_title }}</h1>
                    </div>
                </div>
                <!-- Heading end -->
                <!-- Sign up form start CSS Classes for form styling is from https://bootswatch.com/lux/-->
                <div class="row no-gutters">
                    <form class="col-12 col-md-10 offset-md-1" id="sign-up-form" method="POST"
                        action="{{ url_for('sign_up') }}">
                        <!--First name start-->
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                pattern="[a-zA-Z]{5,15}$" required />
                        </div>
                        <!--First name end-->
                        <!--Last name start-->
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                pattern="[a-zA-Z-']{5,15}$" required />
                        </div>
                        <!--First name end-->
                        <!--Email address start. Code for pattern attribute is from https://www.w3schools.com/tags/att_input_pattern.asp-->
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                        </div>
                        <!--Email address end-->
                        <!--Password start. Code for pattern attribute is from https://www.w3schools.com/tags/att_input_pattern.asp-->
                        <div class="form-group mt-4">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}" required />
                        </div>
                        <!--Password end-->
                        <!--Confirm password start-->
                        <div class="form-group mt-4">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" id="confirm-password"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}" required />
                        </div>
                        <!--Confirm password end-->
                        <!--Newsletter sign up start. Code is from https://bootswatch.com/lux/-->
                        <div class="form-group mt-4">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input custom-switch" id="newsletter-signup"
                                    name="newsletter_signup" required checked>
                                <label class="custom-control-label" for="newsletter-signup">Subscribe to our
                                    newsletter</label>
                            </div>
                        </div>
                        <!--Newsletter sign up end -->
                        <!--Sign up button start-->
                        <div class="form-group text-center mt-4 mb-0">
                            <button type="submit" class="btn btn-green">Sign Up</button>
                        </div>
                        <!--Sign up button end-->
                        <!--Sign in text and link start. Code for next search perameter is from https://stackoverflow.com/questions/51783658/url-for-creates-a-url-query-string-with-amp and https://www.kite.com/python/answers/how-to-get-parameters-from-a-url-using-flask-in-python-->
                        <p class="text-center mt-4">
                            Already have an account? Sign in
                            <a href="{{url_for('sign_in', next=request.args.get('next', ''))}}">here</a>
                        </p>
                        <!--Sign in text and link end-->
                        <!--Next hidden field start. Code from https://blog.tecladocode.com/handling-the-next-url-when-logging-in-with-flask/-->
                        <div class="form-group d-none">
                            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
                        </div>
                        <!--Next hidden field end-->
                    </form>
                </div>
                <!-- Sign up form end -->
            </div>
        </div>
        <!-- Form column end -->
    </div>
</section>
<!--Main content container end-->
{% endblock %}
<!--Content block end-->
<!--Postload JS start-->
{% block postloadjs %}
<script src="{{ url_for('static', filename='js/sign_up.js') }}">
</script>
{% endblock %}
<!--Postload JS end-->